# Challenge Set 1:  MTA Turnstile Data

# Field Description
http://web.mta.info/developers/resources/nyct/turnstile/ts_Field_Description.txt
C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS

```
C/A      = Control Area (A002)
UNIT     = Remote Unit for a station (R051)
SCP      = Subunit Channel Position represents an specific address for a device (02-00-00)
STATION  = Represents the station name the device is located at
LINENAME = Represents all train lines that can be boarded at this station
           Normally lines are represented by one character.  LINENAME 456NQR repersents train server for 4, 5, 6, N, Q, and R trains.
DIVISION = Represents the Line originally the station belonged to BMT, IRT, or IND   
DATE     = Represents the date (MM-DD-YY)
TIME     = Represents the time (hh:mm:ss) for a scheduled audit event
DESc     = Represent the "REGULAR" scheduled audit event (Normally occurs every 4 hours)
           1. Audits may occur more that 4 hours due to planning, or troubleshooting activities. 
           2. Additionally, there may be a "RECOVR AUD" entry: This refers to a missed audit that was recovered. 
ENTRIES  = The comulative entry register value for a device
EXIST    = The cumulative exit register value for a device
```

In [ ]:
from __future__ import print_function, division

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
import datetime

## Exercise 1.1

- Open up a new Jupyter notebook
- Download a few MTA turnstile data files
- Open up a file, use csv reader to read it, make a python dict where
  there is a key for each (C/A, UNIT, SCP, STATION). These are the
  first four columns. The value for this key should be a list of
  lists. Each list in the list is the rest of the columns in a
  row. For example, one key-value pair should look like


{    ('A002','R051','02-00-00','LEXINGTON AVE'):
[
['NQR456', 'BMT', '01/03/2015', '03:00:00', 'REGULAR', '0004945474', '0001675324'],
['NQR456', 'BMT', '01/03/2015', '07:00:00', 'REGULAR', '0004945478', '0001675333'],
['NQR456', 'BMT', '01/03/2015', '11:00:00', 'REGULAR', '0004945515', '0001675364'],
...
]
}

In [5]:
# Source: http://web.mta.info/developers/turnstile.html
def get_data(week_nums):
    url = "turnstile_{}.txt"
    dfs = []
    for week_num in week_nums:
        file_url = url.format(week_num)
        dfs.append(pd.read_csv(file_url))
    return pd.concat(dfs)
        
week_nums = [180407]
turnstiles_df = get_data(week_nums)
turnstiles_df

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,00:00:00,REGULAR,6566463,2224050
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,04:00:00,REGULAR,6566470,2224053
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,08:00:00,REGULAR,6566470,2224053
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,12:00:00,REGULAR,6566470,2224055
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,16:00:00,REGULAR,6566470,2224055
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,20:00:00,REGULAR,6566470,2224055
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/01/2018,00:00:00,REGULAR,6566470,2224055
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/01/2018,04:00:00,REGULAR,6566470,2224055
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/01/2018,08:00:00,REGULAR,6566470,2224055
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/01/2018,12:00:00,REGULAR,6566470,2224055
10,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/01/2018,16:00:00,REGULAR,6566470,2224055
11,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/01/2018,20:00:00,REGULAR,6566470,2224055
12,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/02/2018,00:00:00,REGULAR,6566470,2224055
13,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/02/2018,04:00:00,REGULAR,6566470,2224055
14,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/02/2018,08:00:00,REGULAR,6566495,2224142
15,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/02/2018,12:00:00,REGULAR,6566629,2224350
16,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/02/2018,16:00:00,REGULAR,6566839,2224406
17,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/02/2018,20:00:00,REGULAR,6567469,2224472
18,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/03/2018,00:00:00,REGULAR,6567630,2224496
19,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/03/2018,04:00:00,REGULAR,6567630,2224496
20,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/03/2018,08:00:00,REGULAR,6567660,2224606
21,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/03/2018,12:00:00,REGULAR,6567822,2224834
22,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/03/2018,16:00:00,REGULAR,6568094,2224909
23,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/03/2018,20:00:00,REGULAR,6568775,2225000
24,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/04/2018,00:00:00,REGULAR,6568921,2225039
25,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/04/2018,04:00:00,REGULAR,6568924,2225039
26,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/04/2018,08:00:00,REGULAR,6568955,2225144
27,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/04/2018,12:00:00,REGULAR,6569103,2225359
28,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/04/2018,16:00:00,REGULAR,6569377,2225415
29,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/04/2018,20:00:00,REGULAR,6570115,2225480
...,...,...,...,...,...,...,...,...,...,...,...
196958,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/02/2018,01:00:00,REGULAR,2868553,385619
196959,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/02/2018,05:00:00,REGULAR,2868553,385619
196960,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/02/2018,09:00:00,REGULAR,2868555,385624
196961,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/02/2018,13:00:00,REGULAR,2868593,385626
196962,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/02/2018,17:00:00,REGULAR,2868683,385630
196963,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/02/2018,21:00:00,REGULAR,2868821,385632
196964,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/03/2018,01:00:00,REGULAR,2868845,385632
196965,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/03/2018,05:00:00,REGULAR,2868847,385632
196966,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/03/2018,09:00:00,REGULAR,2868857,385634
196967,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/03/2018,13:00:00,REGULAR,2868961,385641
196968,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/03/2018,17:00:00,REGULAR,2869055,385655
196969,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/03/2018,21:00:00,REGULAR,2869099,385690
196970,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/04/2018,01:00:00,REGULAR,2869127,385692
196971,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/04/2018,05:00:00,REGULAR,2869127,385692
196972,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/04/2018,09:00:00,REGULAR,2869134,385693
196973,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/04/2018,13:00:00,REGULAR,2869189,385696
196974,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/04/2018,17:00:00,REGULAR,2869322,385714
196975,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/04/2018,21:00:00,REGULAR,2869441,385721
196976,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/05/2018,01:00:00,REGULAR,2869452,385721
196977,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/05/2018,05:00:00,REGULAR,2869457,385721
196978,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/05/2018,09:00:00,REGULAR,2869466,385723
196979,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/05/2018,13:00:00,REGULAR,2869540,385731
196980,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/05/2018,17:00:00,REGULAR,2869624,385733
196981,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/05/2018,21:00:00,REGULAR,2869706,385735
196982,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/06/2018,01:00:00,REGULAR,2869725,385736
196983,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/06/2018,05:00:00,REGULAR,2869725,385736
196984,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/06/2018,09:00:00,REGULAR,2869735,385736
196985,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/06/2018,13:00:00,REGULAR,2869816,385739
196986,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/06/2018,17:00:00,REGULAR,2869949,385744
196987,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/06/2018,21:00:00,REGULAR,2870062,385749

In [6]:
turnstiles_df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [7]:
turnstiles_df.columns = [column.strip() for column in turnstiles_df.columns]

In [8]:
turnstiles_df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS'],
      dtype='object')

In [9]:
turnstiles_df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,00:00:00,REGULAR,6566463,2224050
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,04:00:00,REGULAR,6566470,2224053
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,08:00:00,REGULAR,6566470,2224053
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,12:00:00,REGULAR,6566470,2224055
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,16:00:00,REGULAR,6566470,2224055

In [10]:
turnstiles_df.tail()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
196983,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/06/2018,05:00:00,REGULAR,2869725,385736
196984,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/06/2018,09:00:00,REGULAR,2869735,385736
196985,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/06/2018,13:00:00,REGULAR,2869816,385739
196986,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/06/2018,17:00:00,REGULAR,2869949,385744
196987,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/06/2018,21:00:00,REGULAR,2870062,385749

In [11]:
# Three weeks of Data
turnstiles_df.DATE.value_counts().sort_index()

03/31/2018    28129
04/01/2018    28084
04/02/2018    28049
04/03/2018    28189
04/04/2018    28154
04/05/2018    28262
04/06/2018    28121
Name: DATE, dtype: int64


## Exercise 1.2

- Let's turn this into a time series.

 For each key (basically the control area, unit, device address and
 station of a specific turnstile), have a list again, but let the list
 be comprised of just the point in time and the count of entries.

This basically means keeping only the date, time, and entries fields
in each list. You can convert the date and time into datetime objects
-- That is a python class that represents a point in time. You can
combine the date and time fields into a string and use the
[dateutil](https://labix.org/python-dateutil) module to convert it
into a datetime object. For an example check
[this StackOverflow question](http://stackoverflow.com/questions/23385003/attributeerror-when-using-import-dateutil-and-dateutil-parser-parse-but-no).

Your new dict should look something like

{    ('A002','R051','02-00-00','LEXINGTON AVE'):
[
[datetime.datetime(2013, 3, 2, 3, 0), 3788],
[datetime.datetime(2013, 3, 2, 7, 0), 2585],
[datetime.datetime(2013, 3, 2, 12, 0), 10653],
[datetime.datetime(2013, 3, 2, 17, 0), 11016],
[datetime.datetime(2013, 3, 2, 23, 0), 10666],
[datetime.datetime(2013, 3, 3, 3, 0), 10814],
[datetime.datetime(2013, 3, 3, 7, 0), 10229],
...
],
....
}

In [12]:
turnstiles_df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS'],
      dtype='object')

In [13]:
from datetime import datetime as dt

In [14]:
mask = ((turnstiles_df["C/A"] == "A002") & 
        (turnstiles_df["UNIT"] == "R051") & 
        (turnstiles_df["SCP"] == "02-00-00") & 
        (turnstiles_df["STATION"] == "59 ST"))
turnstiles_df[mask].head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,00:00:00,REGULAR,6566463,2224050
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,04:00:00,REGULAR,6566470,2224053
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,08:00:00,REGULAR,6566470,2224053
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,12:00:00,REGULAR,6566470,2224055
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,16:00:00,REGULAR,6566470,2224055

In [15]:
# Take the date and time fields into a single datetime column
turnstiles_df["DATE_TIME"] = pd.to_datetime(turnstiles_df.DATE + " " + turnstiles_df.TIME, format="%m/%d/%Y %H:%M:%S")

In [16]:
mask = ((turnstiles_df["C/A"] == "R626") & 
(turnstiles_df["UNIT"] == "R062") & 
(turnstiles_df["SCP"] == "00-00-00") & 
(turnstiles_df["STATION"] == "CROWN HTS-UTICA"))
turnstiles_df[mask].head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
190425,R626,R062,00-00-00,CROWN HTS-UTICA,34,IRT,03/31/2018,00:00:00,REGULAR,13689971,3027500,2018-03-31 00:00:00
190426,R626,R062,00-00-00,CROWN HTS-UTICA,34,IRT,03/31/2018,04:00:00,REGULAR,13689994,3027526,2018-03-31 04:00:00
190427,R626,R062,00-00-00,CROWN HTS-UTICA,34,IRT,03/31/2018,08:00:00,REGULAR,13690166,3027544,2018-03-31 08:00:00
190428,R626,R062,00-00-00,CROWN HTS-UTICA,34,IRT,03/31/2018,12:00:00,REGULAR,13690502,3027606,2018-03-31 12:00:00
190429,R626,R062,00-00-00,CROWN HTS-UTICA,34,IRT,03/31/2018,16:00:00,REGULAR,13690940,3027680,2018-03-31 16:00:00

In [17]:
# turnstiles_df = .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"]).ENTRIES.count().reset_index().sort_values("ENTRIES", ascending=False)

In [18]:
# Sanity Check to verify that "C/A", "UNIT", "SCP", "STATION", "DATE_TIME" is unique
(turnstiles_df
 .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"])
 .ENTRIES.count()
 .reset_index()
 .sort_values("ENTRIES", ascending=False)).head(5)

         C/A  UNIT       SCP         STATION           DATE_TIME  ENTRIES
67020   N183  R415  00-00-00   BROAD CHANNEL 2018-04-04 05:00:00        2
0       A002  R051  02-00-00           59 ST 2018-03-31 00:00:00        1
131317  R143  R032  02-00-03  TIMES SQ-42 ST 2018-04-03 16:00:00        1
131319  R143  R032  02-00-03  TIMES SQ-42 ST 2018-04-04 00:00:00        1
131320  R143  R032  02-00-03  TIMES SQ-42 ST 2018-04-04 04:00:00        1

In [19]:
# On 9/16, we seem to have two entries for same time.  Let's take a look
mask = ((turnstiles_df["C/A"] == "R504") & 
(turnstiles_df["UNIT"] == "R276") & 
(turnstiles_df["SCP"] == "00-00-01") & 
(turnstiles_df["STATION"] == "VERNON-JACKSON") &
(turnstiles_df["DATE_TIME"].dt.date == datetime.datetime(2016, 9, 16).date()))
turnstiles_df[mask].head()

Empty DataFrame
Columns: [C/A, UNIT, SCP, STATION, LINENAME, DIVISION, DATE, TIME, DESC, ENTRIES, EXITS, DATE_TIME]
Index: []

* Looks to be a incorrect AUD entry.  May be we should just select the Regular One.

In [20]:
turnstiles_df.DESC.value_counts()

REGULAR       196339
RECOVR AUD       649
Name: DESC, dtype: int64

* Since we are only interested in Entries, we might be OK.

In [21]:
# Get rid of the duplicate entry
turnstiles_df.sort_values(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"], inplace=True, ascending=False)
turnstiles_df.drop_duplicates(subset=["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"], inplace=True)

In [22]:
# Sanity Check to verify that "C/A", "UNIT", "SCP", "STATION", "DATE_TIME" is unique
(turnstiles_df
 .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"])
 .ENTRIES.count()
 .reset_index()
 .sort_values("ENTRIES", ascending=False)).head(5)

         C/A  UNIT       SCP         STATION           DATE_TIME  ENTRIES
0       A002  R051  02-00-00           59 ST 2018-03-31 00:00:00        1
131197  R143  R032  02-00-00  TIMES SQ-42 ST 2018-04-04 16:00:00        1
131319  R143  R032  02-00-03  TIMES SQ-42 ST 2018-04-04 00:00:00        1
131320  R143  R032  02-00-03  TIMES SQ-42 ST 2018-04-04 04:00:00        1
131321  R143  R032  02-00-03  TIMES SQ-42 ST 2018-04-04 08:00:00        1

* No more duplicate Entries

In [23]:
# Drop Exits and Desc Column.  To prevent errors in multiple run of cell, errors on drop is ignored
turnstiles_df = turnstiles_df.drop(["EXITS", "DESC"], axis=1, errors="ignore")

## Exercise 1.3

- These counts are for every n hours. (What is n?) We want total daily
  entries.

Now make it that we again have the same keys, but now we have a single
value for a single day, which is the total number of passengers that
entered through this turnstile on this day.

In [24]:
turnstiles_daily = turnstiles_df.groupby(["C/A", "UNIT", "SCP", "STATION", "DATE"]).ENTRIES.first().reset_index()

In [25]:
turnstiles_daily.head()

    C/A  UNIT       SCP STATION        DATE  ENTRIES
0  A002  R051  02-00-00   59 ST  03/31/2018  6566470
1  A002  R051  02-00-00   59 ST  04/01/2018  6566470
2  A002  R051  02-00-00   59 ST  04/02/2018  6567469
3  A002  R051  02-00-00   59 ST  04/03/2018  6568775
4  A002  R051  02-00-00   59 ST  04/04/2018  6570115

In [26]:
turnstiles_daily[["PREV_DATE", "PREV_ENTRIES"]] = (turnstiles_daily
                                                       .groupby(["C/A", "UNIT", "SCP", "STATION"])["DATE", "ENTRIES"]
                                                       .transform(lambda grp: grp.shift(1)))

In [27]:
turnstiles_daily.head()

    C/A  UNIT       SCP STATION        DATE  ENTRIES   PREV_DATE  PREV_ENTRIES
0  A002  R051  02-00-00   59 ST  03/31/2018  6566470         NaN           NaN
1  A002  R051  02-00-00   59 ST  04/01/2018  6566470  03/31/2018     6566470.0
2  A002  R051  02-00-00   59 ST  04/02/2018  6567469  04/01/2018     6566470.0
3  A002  R051  02-00-00   59 ST  04/03/2018  6568775  04/02/2018     6567469.0
4  A002  R051  02-00-00   59 ST  04/04/2018  6570115  04/03/2018     6568775.0

In [28]:
turnstiles_daily.tail()

,C/A,UNIT,SCP,STATION,DATE,ENTRIES,PREV_DATE,PREV_ENTRIES
32920,TRAM2,R469,00-03-01,RIT-ROOSEVELT,04/02/2018,2868821,04/01/2018,2868539.0
32921,TRAM2,R469,00-03-01,RIT-ROOSEVELT,04/03/2018,2869099,04/02/2018,2868821.0
32922,TRAM2,R469,00-03-01,RIT-ROOSEVELT,04/04/2018,2869441,04/03/2018,2869099.0
32923,TRAM2,R469,00-03-01,RIT-ROOSEVELT,04/05/2018,2869706,04/04/2018,2869441.0
32924,TRAM2,R469,00-03-01,RIT-ROOSEVELT,04/06/2018,2870062,04/05/2018,2869706.0

In [29]:
# Drop the rows for last date
turnstiles_daily.dropna(subset=["PREV_DATE"], axis=0, inplace=True)

In [30]:
turnstiles_daily[turnstiles_daily["ENTRIES"] < turnstiles_daily["PREV_ENTRIES"]].head()

,C/A,UNIT,SCP,STATION,DATE,ENTRIES,PREV_DATE,PREV_ENTRIES
239,A011,R080,01-00-00,57 ST-7 AV,04/01/2018,886024555,03/31/2018,886026296.0
240,A011,R080,01-00-00,57 ST-7 AV,04/02/2018,886021591,04/01/2018,886024555.0
241,A011,R080,01-00-00,57 ST-7 AV,04/03/2018,886017908,04/02/2018,886021591.0
242,A011,R080,01-00-00,57 ST-7 AV,04/04/2018,886014207,04/03/2018,886017908.0
243,A011,R080,01-00-00,57 ST-7 AV,04/05/2018,886010370,04/04/2018,886014207.0

In [31]:
# What's the deal with counter being in reverse
mask = ((turnstiles_df["C/A"] == "A011") & 
(turnstiles_df["UNIT"] == "R080") & 
(turnstiles_df["SCP"] == "01-00-00") & 
(turnstiles_df["STATION"] == "57 ST-7 AV") &
(turnstiles_df["DATE_TIME"].dt.date == datetime.datetime(2016, 8, 27).date()))
turnstiles_df[mask].head()

Empty DataFrame
Columns: [C/A, UNIT, SCP, STATION, LINENAME, DIVISION, DATE, TIME, ENTRIES, DATE_TIME]
Index: []

* Counter working in Reverse??? - WHHHAT

In [32]:
# Let's see how many stations have this problem

(turnstiles_daily[turnstiles_daily["ENTRIES"] < turnstiles_daily["PREV_ENTRIES"]]
    .groupby(["C/A", "UNIT", "SCP", "STATION"])
     .size())

C/A    UNIT  SCP       STATION
A011   R080  01-00-00  57 ST-7 AV         6
A025   R023  01-03-01  34 ST-HERALD SQ    6
A049   R088  02-05-00  CORTLANDT ST       6
A066   R118  00-00-00  CANAL ST           6
C021   R212  00-00-02  59 ST              6
D011   R394  01-06-00  BAY PKWY           6
             01-06-01  BAY PKWY           6
H003   R163  01-00-02  6 AV               6
H023   R236  00-06-00  DEKALB AV          6
J034   R007  00-00-02  104 ST             6
K026   R100  00-00-01  METROPOLITAN AV    6
N063A  R011  00-00-04  42 ST-PORT AUTH    6
             00-00-05  42 ST-PORT AUTH    6
             00-00-08  42 ST-PORT AUTH    6
N078   R175  01-03-00  14 ST              6
N137   R354  00-00-00  104 ST             1
             00-06-01  104 ST             6
N203   R195  00-00-01  161/YANKEE STAD    6
N223   R156  01-05-01  BEDFORD PK BLVD    1
N305   R017  01-03-04  LEXINGTON AV/53    6
N327   R254  00-06-01  GRAND-NEWTOWN      6
N342   R019  01-03-02  JAMAICA 179 ST     6
N506   R022  00-05-04  34 ST-HERALD SQ    6
N508   R453  00-00-02  23 ST              6
N539   R288  00-03-01  7 AV               6
N600   R302  00-06-00  57 ST              6
N601   R319  00-00-01  LEXINGTON AV/63    6
N606   R025  00-00-01  JAMAICA CENTER     6
PTH11  R545  00-00-03  14TH STREET        2
PTH13  R541  00-04-07  THIRTY ST          1
PTH16  R550  01-01-02  LACKAWANNA         1
PTH17  R541  01-00-07  THIRTY THIRD ST    1
PTH22  R540  00-00-00  PATH NEW WTC       1
             00-00-07  PATH NEW WTC       1
             00-01-06  PATH NEW WTC       1
R127   R105  00-00-00  14 ST              6
R148   R033  01-00-01  TIMES SQ-42 ST     6
R161B  R452  00-00-03  72 ST              6
R210   R044  00-03-04  BROOKLYN BRIDGE    6
R227   R131  00-00-00  23 ST              6
R241A  R048  00-00-00  GRD CNTRL-42 ST    6
R245   R051  00-00-00  59 ST              6
R245A  R051  01-06-01  59 ST              1
R258   R132  00-00-03  125 ST             6
R304   R206  00-00-00  125 ST             5
R307   R207  01-00-01  135 ST             1
R310   R053  01-00-02  3 AV-149 ST        6
R322   R386  00-00-02  174 ST             6
R519   R223  00-00-03  46 ST BLISS ST     1
R622   R123  00-00-00  FRANKLIN AV        6
R646   R110  01-00-01  FLATBUSH AV-B.C    6
R730   R431  00-00-04  EASTCHSTER/DYRE    6
dtype: int64

In [33]:
def get_daily_counts(row, max_counter):
    counter = row["ENTRIES"] - row["PREV_ENTRIES"]
    if counter < 0:
        counter = -counter
    if counter > max_counter:
        print(row["ENTRIES"], row["PREV_ENTRIES"])
        return 0
    return counter

# If counter is > 1Million, then the counter might have been reset.  
# Just set it to zero as different counters have different cycle limits
_ = turnstiles_daily.apply(get_daily_counts, axis=1, max_counter=1000000)

236 3136681.0
398 2687234.0
838901512 165134.0
55 5119489.0

In [34]:
def get_daily_counts(row, max_counter):
    counter = row["ENTRIES"] - row["PREV_ENTRIES"]
    if counter < 0:
        # May be counter is reversed?
        counter = -counter
    if counter > max_counter:
        print(row["ENTRIES"], row["PREV_ENTRIES"])
        counter = min(row["ENTRIES"], row["PREV_ENTRIES"])
    if counter > max_counter:
        # Check it again to make sure we are not giving a counter that's too big
        return 0
    return counter

# If counter is > 1Million, then the counter might have been reset.  
# Just set it to zero as different counters have different cycle limits
turnstiles_daily["DAILY_ENTRIES"] = turnstiles_daily.apply(get_daily_counts, axis=1, max_counter=1000000)

236 3136681.0
398 2687234.0
838901512 165134.0
55 5119489.0

In [35]:
turnstiles_daily.head()

,C/A,UNIT,SCP,STATION,DATE,ENTRIES,PREV_DATE,PREV_ENTRIES,DAILY_ENTRIES
1,A002,R051,02-00-00,59 ST,04/01/2018,6566470,03/31/2018,6566470.0,0.0
2,A002,R051,02-00-00,59 ST,04/02/2018,6567469,04/01/2018,6566470.0,999.0
3,A002,R051,02-00-00,59 ST,04/03/2018,6568775,04/02/2018,6567469.0,1306.0
4,A002,R051,02-00-00,59 ST,04/04/2018,6570115,04/03/2018,6568775.0,1340.0
5,A002,R051,02-00-00,59 ST,04/05/2018,6571500,04/04/2018,6570115.0,1385.0

In [36]:
# Verify that we got same results via the non-pandas version.

## Exercise 1.4
We will plot the daily time series for a turnstile.

In ipython notebook, add this to the beginning of your next cell:

    %matplotlib inline

This will make your matplotlib graphs integrate nicely with the
notebook. To plot the time series, import matplotlib with

    import matplotlib.pyplot as plt

Take the list of [(date1, count1), (date2, count2), ...], for the
turnstile and turn it into two lists:
dates and counts. This should plot it:

    plt.figure(figsize=(10,3))
    plt.plot(dates,counts)

## Exercise 1.5

- So far we've been operating on a single turnstile level, let's
  combine turnstiles in the same ControlArea/Unit/Station combo. There
  are some ControlArea/Unit/Station groups that have a single
  turnstile, but most have multiple turnstilea-- same value for the
  C/A, UNIT and STATION columns, different values for the SCP column.

We want to combine the numbers together -- for each
ControlArea/UNIT/STATION combo, for each day, add the counts from each
turnstile belonging to that combo.

## Exercise 1.6

Similarly, combine everything in each station, and come up with a time
series of `[(date1, count1),(date2,count2),...]` type of time series
for each STATION, by adding up all the turnstiles in a station.

## Exercise 1.7

Plot the time series for a station.

## Exercise 1.8

- Make one list of counts for **one** week for one station. Monday's
count, Tuesday's count, etc. so it's a list of 7 counts.
Make the same list for another week, and another week, and another
week.
`plt.plot(week_count_list)` for every `week_count_list` you created
this way. You should get a rainbow plot of weekly commute numbers on
top of each other.

## Exercise 1.9

- Over multiple weeks, sum total ridership for each station and sort
  them, so you can find out the stations with the highest traffic
  during the time you investigate

## Exercise 1.10

- Make a single list of these total ridership values and plot it with

    plt.hist(total_ridership_counts)

to get an idea about the distribution of total ridership among
different stations.

This should show you that most stations have a small traffic, and the
histogram bins for large traffic volumes have small bars.

*Additional Hint*:

If you want to see which stations take the meat of the traffic, you
can sort the total ridership counts and make a `plt.bar` graph. For
this, you want to have two lists: the indices of each bar, and the
values. The indices can just be `0,1,2,3,...`, so you can do

    indices = range(len(total_ridership_values))
    plt.bar(indices, total_ridership_values)