# Challenge Set 1:  MTA Turnstile Data

# Field Description
http://web.mta.info/developers/resources/nyct/turnstile/ts_Field_Description.txt
C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS

```
C/A      = Control Area (A002)
UNIT     = Remote Unit for a station (R051)
SCP      = Subunit Channel Position represents an specific address for a device (02-00-00)
STATION  = Represents the station name the device is located at
LINENAME = Represents all train lines that can be boarded at this station
           Normally lines are represented by one character.  LINENAME 456NQR repersents train server for 4, 5, 6, N, Q, and R trains.
DIVISION = Represents the Line originally the station belonged to BMT, IRT, or IND   
DATE     = Represents the date (MM-DD-YY)
TIME     = Represents the time (hh:mm:ss) for a scheduled audit event
DESc     = Represent the "REGULAR" scheduled audit event (Normally occurs every 4 hours)
           1. Audits may occur more that 4 hours due to planning, or troubleshooting activities. 
           2. Additionally, there may be a "RECOVR AUD" entry: This refers to a missed audit that was recovered. 
ENTRIES  = The comulative entry register value for a device
EXIST    = The cumulative exit register value for a device
```

In [2]:
from __future__ import print_function, division

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [4]:
import datetime

## Exercise 1.1

- Open up a new Jupyter notebook
- Download a few MTA turnstile data files
- Open up a file, use csv reader to read it, make a python dict where
  there is a key for each (C/A, UNIT, SCP, STATION). These are the
  first four columns. The value for this key should be a list of
  lists. Each list in the list is the rest of the columns in a
  row. For example, one key-value pair should look like


{    ('A002','R051','02-00-00','LEXINGTON AVE'):
[
['NQR456', 'BMT', '01/03/2015', '03:00:00', 'REGULAR', '0004945474', '0001675324'],
['NQR456', 'BMT', '01/03/2015', '07:00:00', 'REGULAR', '0004945478', '0001675333'],
['NQR456', 'BMT', '01/03/2015', '11:00:00', 'REGULAR', '0004945515', '0001675364'],
...
]
}

In [5]:
# Source: http://web.mta.info/developers/turnstile.html
def get_data(week_nums):
    url = "turnstile_{}.txt"
    dfs = []
    for week_num in week_nums:
        file_url = url.format(week_num)
        dfs.append(pd.read_csv(file_url))
    return pd.concat(dfs)
        
week_nums = [180407]
turnstiles_df = get_data(week_nums)
turnstiles_df

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,00:00:00,REGULAR,6566463,2224050
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,04:00:00,REGULAR,6566470,2224053
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,08:00:00,REGULAR,6566470,2224053
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,12:00:00,REGULAR,6566470,2224055
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,16:00:00,REGULAR,6566470,2224055
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,20:00:00,REGULAR,6566470,2224055
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/01/2018,00:00:00,REGULAR,6566470,2224055
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/01/2018,04:00:00,REGULAR,6566470,2224055
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/01/2018,08:00:00,REGULAR,6566470,2224055
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/01/2018,12:00:00,REGULAR,6566470,2224055
10,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/01/2018,16:00:00,REGULAR,6566470,2224055
11,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/01/2018,20:00:00,REGULAR,6566470,2224055
12,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/02/2018,00:00:00,REGULAR,6566470,2224055
13,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/02/2018,04:00:00,REGULAR,6566470,2224055
14,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/02/2018,08:00:00,REGULAR,6566495,2224142
15,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/02/2018,12:00:00,REGULAR,6566629,2224350
16,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/02/2018,16:00:00,REGULAR,6566839,2224406
17,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/02/2018,20:00:00,REGULAR,6567469,2224472
18,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/03/2018,00:00:00,REGULAR,6567630,2224496
19,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/03/2018,04:00:00,REGULAR,6567630,2224496
20,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/03/2018,08:00:00,REGULAR,6567660,2224606
21,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/03/2018,12:00:00,REGULAR,6567822,2224834
22,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/03/2018,16:00:00,REGULAR,6568094,2224909
23,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/03/2018,20:00:00,REGULAR,6568775,2225000
24,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/04/2018,00:00:00,REGULAR,6568921,2225039
25,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/04/2018,04:00:00,REGULAR,6568924,2225039
26,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/04/2018,08:00:00,REGULAR,6568955,2225144
27,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/04/2018,12:00:00,REGULAR,6569103,2225359
28,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/04/2018,16:00:00,REGULAR,6569377,2225415
29,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/04/2018,20:00:00,REGULAR,6570115,2225480
...,...,...,...,...,...,...,...,...,...,...,...
196958,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/02/2018,01:00:00,REGULAR,2868553,385619
196959,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/02/2018,05:00:00,REGULAR,2868553,385619
196960,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/02/2018,09:00:00,REGULAR,2868555,385624
196961,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/02/2018,13:00:00,REGULAR,2868593,385626
196962,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/02/2018,17:00:00,REGULAR,2868683,385630
196963,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/02/2018,21:00:00,REGULAR,2868821,385632
196964,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/03/2018,01:00:00,REGULAR,2868845,385632
196965,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/03/2018,05:00:00,REGULAR,2868847,385632
196966,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/03/2018,09:00:00,REGULAR,2868857,385634
196967,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/03/2018,13:00:00,REGULAR,2868961,385641
196968,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/03/2018,17:00:00,REGULAR,2869055,385655
196969,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/03/2018,21:00:00,REGULAR,2869099,385690
196970,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/04/2018,01:00:00,REGULAR,2869127,385692
196971,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/04/2018,05:00:00,REGULAR,2869127,385692
196972,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/04/2018,09:00:00,REGULAR,2869134,385693
196973,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/04/2018,13:00:00,REGULAR,2869189,385696
196974,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/04/2018,17:00:00,REGULAR,2869322,385714
196975,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/04/2018,21:00:00,REGULAR,2869441,385721
196976,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/05/2018,01:00:00,REGULAR,2869452,385721
196977,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/05/2018,05:00:00,REGULAR,2869457,385721
196978,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/05/2018,09:00:00,REGULAR,2869466,385723
196979,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/05/2018,13:00:00,REGULAR,2869540,385731
196980,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/05/2018,17:00:00,REGULAR,2869624,385733
196981,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/05/2018,21:00:00,REGULAR,2869706,385735
196982,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/06/2018,01:00:00,REGULAR,2869725,385736
196983,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/06/2018,05:00:00,REGULAR,2869725,385736
196984,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/06/2018,09:00:00,REGULAR,2869735,385736
196985,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/06/2018,13:00:00,REGULAR,2869816,385739
196986,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/06/2018,17:00:00,REGULAR,2869949,385744
196987,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/06/2018,21:00:00,REGULAR,2870062,385749

In [6]:
turnstiles_df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [7]:
turnstiles_df.columns = [column.strip() for column in turnstiles_df.columns]

In [8]:
turnstiles_df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS'],
      dtype='object')

In [9]:
turnstiles_df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,00:00:00,REGULAR,6566463,2224050
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,04:00:00,REGULAR,6566470,2224053
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,08:00:00,REGULAR,6566470,2224053
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,12:00:00,REGULAR,6566470,2224055
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,16:00:00,REGULAR,6566470,2224055

In [10]:
turnstiles_df.tail()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
196983,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/06/2018,05:00:00,REGULAR,2869725,385736
196984,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/06/2018,09:00:00,REGULAR,2869735,385736
196985,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/06/2018,13:00:00,REGULAR,2869816,385739
196986,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/06/2018,17:00:00,REGULAR,2869949,385744
196987,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/06/2018,21:00:00,REGULAR,2870062,385749

In [11]:
# Three weeks of Data
turnstiles_df.DATE.value_counts().sort_index()

03/31/2018    28129
04/01/2018    28084
04/02/2018    28049
04/03/2018    28189
04/04/2018    28154
04/05/2018    28262
04/06/2018    28121
Name: DATE, dtype: int64


## Exercise 1.2

- Let's turn this into a time series.

 For each key (basically the control area, unit, device address and
 station of a specific turnstile), have a list again, but let the list
 be comprised of just the point in time and the count of entries.

This basically means keeping only the date, time, and entries fields
in each list. You can convert the date and time into datetime objects
-- That is a python class that represents a point in time. You can
combine the date and time fields into a string and use the
[dateutil](https://labix.org/python-dateutil) module to convert it
into a datetime object. For an example check
[this StackOverflow question](http://stackoverflow.com/questions/23385003/attributeerror-when-using-import-dateutil-and-dateutil-parser-parse-but-no).

Your new dict should look something like

{    ('A002','R051','02-00-00','LEXINGTON AVE'):
[
[datetime.datetime(2013, 3, 2, 3, 0), 3788],
[datetime.datetime(2013, 3, 2, 7, 0), 2585],
[datetime.datetime(2013, 3, 2, 12, 0), 10653],
[datetime.datetime(2013, 3, 2, 17, 0), 11016],
[datetime.datetime(2013, 3, 2, 23, 0), 10666],
[datetime.datetime(2013, 3, 3, 3, 0), 10814],
[datetime.datetime(2013, 3, 3, 7, 0), 10229],
...
],
....
}

In [12]:
turnstiles_df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS'],
      dtype='object')

In [13]:
from datetime import datetime as dt

In [14]:
mask = ((turnstiles_df["C/A"] == "A002") & 
        (turnstiles_df["UNIT"] == "R051") & 
        (turnstiles_df["SCP"] == "02-00-00") & 
        (turnstiles_df["STATION"] == "59 ST"))
turnstiles_df[mask].head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,00:00:00,REGULAR,6566463,2224050
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,04:00:00,REGULAR,6566470,2224053
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,08:00:00,REGULAR,6566470,2224053
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,12:00:00,REGULAR,6566470,2224055
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,16:00:00,REGULAR,6566470,2224055

In [15]:
# Take the date and time fields into a single datetime column
turnstiles_df["DATE_TIME"] = pd.to_datetime(turnstiles_df.DATE + " " + turnstiles_df.TIME, format="%m/%d/%Y %H:%M:%S")

In [16]:
mask = ((turnstiles_df["C/A"] == "R626") & 
(turnstiles_df["UNIT"] == "R062") & 
(turnstiles_df["SCP"] == "00-00-00") & 
(turnstiles_df["STATION"] == "CROWN HTS-UTICA"))
turnstiles_df[mask].head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
190425,R626,R062,00-00-00,CROWN HTS-UTICA,34,IRT,03/31/2018,00:00:00,REGULAR,13689971,3027500,2018-03-31 00:00:00
190426,R626,R062,00-00-00,CROWN HTS-UTICA,34,IRT,03/31/2018,04:00:00,REGULAR,13689994,3027526,2018-03-31 04:00:00
190427,R626,R062,00-00-00,CROWN HTS-UTICA,34,IRT,03/31/2018,08:00:00,REGULAR,13690166,3027544,2018-03-31 08:00:00
190428,R626,R062,00-00-00,CROWN HTS-UTICA,34,IRT,03/31/2018,12:00:00,REGULAR,13690502,3027606,2018-03-31 12:00:00
190429,R626,R062,00-00-00,CROWN HTS-UTICA,34,IRT,03/31/2018,16:00:00,REGULAR,13690940,3027680,2018-03-31 16:00:00

In [17]:
# turnstiles_df = .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"]).ENTRIES.count().reset_index().sort_values("ENTRIES", ascending=False)

In [18]:
# Sanity Check to verify that "C/A", "UNIT", "SCP", "STATION", "DATE_TIME" is unique
(turnstiles_df
 .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"])
 .ENTRIES.count()
 .reset_index()
 .sort_values("ENTRIES", ascending=False)).head(5)

         C/A  UNIT       SCP         STATION           DATE_TIME  ENTRIES
67020   N183  R415  00-00-00   BROAD CHANNEL 2018-04-04 05:00:00        2
0       A002  R051  02-00-00           59 ST 2018-03-31 00:00:00        1
131317  R143  R032  02-00-03  TIMES SQ-42 ST 2018-04-03 16:00:00        1
131319  R143  R032  02-00-03  TIMES SQ-42 ST 2018-04-04 00:00:00        1
131320  R143  R032  02-00-03  TIMES SQ-42 ST 2018-04-04 04:00:00        1

In [19]:
# On 9/16, we seem to have two entries for same time.  Let's take a look
mask = ((turnstiles_df["C/A"] == "R504") & 
(turnstiles_df["UNIT"] == "R276") & 
(turnstiles_df["SCP"] == "00-00-01") & 
(turnstiles_df["STATION"] == "VERNON-JACKSON") &
(turnstiles_df["DATE_TIME"].dt.date == datetime.datetime(2016, 9, 16).date()))
turnstiles_df[mask].head()

Empty DataFrame
Columns: [C/A, UNIT, SCP, STATION, LINENAME, DIVISION, DATE, TIME, DESC, ENTRIES, EXITS, DATE_TIME]
Index: []

* Looks to be a incorrect AUD entry.  May be we should just select the Regular One.

In [20]:
turnstiles_df.DESC.value_counts()

REGULAR       196339
RECOVR AUD       649
Name: DESC, dtype: int64

* Since we are only interested in Entries, we might be OK.

In [21]:
# Get rid of the duplicate entry
turnstiles_df.sort_values(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"], inplace=True, ascending=False)
turnstiles_df.drop_duplicates(subset=["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"], inplace=True)

In [22]:
# Sanity Check to verify that "C/A", "UNIT", "SCP", "STATION", "DATE_TIME" is unique
(turnstiles_df
 .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"])
 .ENTRIES.count()
 .reset_index()
 .sort_values("ENTRIES", ascending=False)).head(5)

         C/A  UNIT       SCP         STATION           DATE_TIME  ENTRIES
0       A002  R051  02-00-00           59 ST 2018-03-31 00:00:00        1
131197  R143  R032  02-00-00  TIMES SQ-42 ST 2018-04-04 16:00:00        1
131319  R143  R032  02-00-03  TIMES SQ-42 ST 2018-04-04 00:00:00        1
131320  R143  R032  02-00-03  TIMES SQ-42 ST 2018-04-04 04:00:00        1
131321  R143  R032  02-00-03  TIMES SQ-42 ST 2018-04-04 08:00:00        1

* No more duplicate Entries

In [23]:
# Drop Exits and Desc Column.  To prevent errors in multiple run of cell, errors on drop is ignored
turnstiles_df = turnstiles_df.drop(["EXITS", "DESC"], axis=1, errors="ignore")

## Exercise 1.3

- These counts are for every n hours. (What is n?) We want total daily
  entries.

Now make it that we again have the same keys, but now we have a single
value for a single day, which is the total number of passengers that
entered through this turnstile on this day.

In [24]:
turnstiles_daily = turnstiles_df.groupby(["C/A", "UNIT", "SCP", "STATION", "DATE"]).ENTRIES.first().reset_index()

In [25]:
turnstiles_daily.head()

    C/A  UNIT       SCP STATION        DATE  ENTRIES
0  A002  R051  02-00-00   59 ST  03/31/2018  6566470
1  A002  R051  02-00-00   59 ST  04/01/2018  6566470
2  A002  R051  02-00-00   59 ST  04/02/2018  6567469
3  A002  R051  02-00-00   59 ST  04/03/2018  6568775
4  A002  R051  02-00-00   59 ST  04/04/2018  6570115

In [26]:
turnstiles_daily[["PREV_DATE", "PREV_ENTRIES"]] = (turnstiles_daily
                                                       .groupby(["C/A", "UNIT", "SCP", "STATION"])["DATE", "ENTRIES"]
                                                       .transform(lambda grp: grp.shift(1)))

In [27]:
turnstiles_daily.head()

    C/A  UNIT       SCP STATION        DATE  ENTRIES   PREV_DATE  PREV_ENTRIES
0  A002  R051  02-00-00   59 ST  03/31/2018  6566470         NaN           NaN
1  A002  R051  02-00-00   59 ST  04/01/2018  6566470  03/31/2018     6566470.0
2  A002  R051  02-00-00   59 ST  04/02/2018  6567469  04/01/2018     6566470.0
3  A002  R051  02-00-00   59 ST  04/03/2018  6568775  04/02/2018     6567469.0
4  A002  R051  02-00-00   59 ST  04/04/2018  6570115  04/03/2018     6568775.0

In [28]:
turnstiles_daily.tail()

,C/A,UNIT,SCP,STATION,DATE,ENTRIES,PREV_DATE,PREV_ENTRIES
32920,TRAM2,R469,00-03-01,RIT-ROOSEVELT,04/02/2018,2868821,04/01/2018,2868539.0
32921,TRAM2,R469,00-03-01,RIT-ROOSEVELT,04/03/2018,2869099,04/02/2018,2868821.0
32922,TRAM2,R469,00-03-01,RIT-ROOSEVELT,04/04/2018,2869441,04/03/2018,2869099.0
32923,TRAM2,R469,00-03-01,RIT-ROOSEVELT,04/05/2018,2869706,04/04/2018,2869441.0
32924,TRAM2,R469,00-03-01,RIT-ROOSEVELT,04/06/2018,2870062,04/05/2018,2869706.0

In [29]:
# Drop the rows for last date
turnstiles_daily.dropna(subset=["PREV_DATE"], axis=0, inplace=True)

In [30]:
turnstiles_daily[turnstiles_daily["ENTRIES"] < turnstiles_daily["PREV_ENTRIES"]].head()

,C/A,UNIT,SCP,STATION,DATE,ENTRIES,PREV_DATE,PREV_ENTRIES
239,A011,R080,01-00-00,57 ST-7 AV,04/01/2018,886024555,03/31/2018,886026296.0
240,A011,R080,01-00-00,57 ST-7 AV,04/02/2018,886021591,04/01/2018,886024555.0
241,A011,R080,01-00-00,57 ST-7 AV,04/03/2018,886017908,04/02/2018,886021591.0
242,A011,R080,01-00-00,57 ST-7 AV,04/04/2018,886014207,04/03/2018,886017908.0
243,A011,R080,01-00-00,57 ST-7 AV,04/05/2018,886010370,04/04/2018,886014207.0

In [31]:
# What's the deal with counter being in reverse
mask = ((turnstiles_df["C/A"] == "A011") & 
(turnstiles_df["UNIT"] == "R080") & 
(turnstiles_df["SCP"] == "01-00-00") & 
(turnstiles_df["STATION"] == "57 ST-7 AV") &
(turnstiles_df["DATE_TIME"].dt.date == datetime.datetime(2016, 8, 27).date()))
turnstiles_df[mask].head()

Empty DataFrame
Columns: [C/A, UNIT, SCP, STATION, LINENAME, DIVISION, DATE, TIME, ENTRIES, DATE_TIME]
Index: []

* Counter working in Reverse??? - WHHHAT

In [32]:
# Let's see how many stations have this problem

(turnstiles_daily[turnstiles_daily["ENTRIES"] < turnstiles_daily["PREV_ENTRIES"]]
    .groupby(["C/A", "UNIT", "SCP", "STATION"])
     .size())

C/A    UNIT  SCP       STATION
A011   R080  01-00-00  57 ST-7 AV         6
A025   R023  01-03-01  34 ST-HERALD SQ    6
A049   R088  02-05-00  CORTLANDT ST       6
A066   R118  00-00-00  CANAL ST           6
C021   R212  00-00-02  59 ST              6
D011   R394  01-06-00  BAY PKWY           6
             01-06-01  BAY PKWY           6
H003   R163  01-00-02  6 AV               6
H023   R236  00-06-00  DEKALB AV          6
J034   R007  00-00-02  104 ST             6
K026   R100  00-00-01  METROPOLITAN AV    6
N063A  R011  00-00-04  42 ST-PORT AUTH    6
             00-00-05  42 ST-PORT AUTH    6
             00-00-08  42 ST-PORT AUTH    6
N078   R175  01-03-00  14 ST              6
N137   R354  00-00-00  104 ST             1
             00-06-01  104 ST             6
N203   R195  00-00-01  161/YANKEE STAD    6
N223   R156  01-05-01  BEDFORD PK BLVD    1
N305   R017  01-03-04  LEXINGTON AV/53    6
N327   R254  00-06-01  GRAND-NEWTOWN      6
N342   R019  01-03-02  JAMAICA 179 ST     6
N506   R022  00-05-04  34 ST-HERALD SQ    6
N508   R453  00-00-02  23 ST              6
N539   R288  00-03-01  7 AV               6
N600   R302  00-06-00  57 ST              6
N601   R319  00-00-01  LEXINGTON AV/63    6
N606   R025  00-00-01  JAMAICA CENTER     6
PTH11  R545  00-00-03  14TH STREET        2
PTH13  R541  00-04-07  THIRTY ST          1
PTH16  R550  01-01-02  LACKAWANNA         1
PTH17  R541  01-00-07  THIRTY THIRD ST    1
PTH22  R540  00-00-00  PATH NEW WTC       1
             00-00-07  PATH NEW WTC       1
             00-01-06  PATH NEW WTC       1
R127   R105  00-00-00  14 ST              6
R148   R033  01-00-01  TIMES SQ-42 ST     6
R161B  R452  00-00-03  72 ST              6
R210   R044  00-03-04  BROOKLYN BRIDGE    6
R227   R131  00-00-00  23 ST              6
R241A  R048  00-00-00  GRD CNTRL-42 ST    6
R245   R051  00-00-00  59 ST              6
R245A  R051  01-06-01  59 ST              1
R258   R132  00-00-03  125 ST             6
R304   R206  00-00-00  125 ST             5
R307   R207  01-00-01  135 ST             1
R310   R053  01-00-02  3 AV-149 ST        6
R322   R386  00-00-02  174 ST             6
R519   R223  00-00-03  46 ST BLISS ST     1
R622   R123  00-00-00  FRANKLIN AV        6
R646   R110  01-00-01  FLATBUSH AV-B.C    6
R730   R431  00-00-04  EASTCHSTER/DYRE    6
dtype: int64

In [33]:
def get_daily_counts(row, max_counter):
    counter = row["ENTRIES"] - row["PREV_ENTRIES"]
    if counter < 0:
        counter = -counter
    if counter > max_counter:
        print(row["ENTRIES"], row["PREV_ENTRIES"])
        return 0
    return counter

# If counter is > 1Million, then the counter might have been reset.  
# Just set it to zero as different counters have different cycle limits
_ = turnstiles_daily.apply(get_daily_counts, axis=1, max_counter=1000000)

236 3136681.0
398 2687234.0
838901512 165134.0
55 5119489.0

In [34]:
def get_daily_counts(row, max_counter):
    counter = row["ENTRIES"] - row["PREV_ENTRIES"]
    if counter < 0:
        # May be counter is reversed?
        counter = -counter
    if counter > max_counter:
        print(row["ENTRIES"], row["PREV_ENTRIES"])
        counter = min(row["ENTRIES"], row["PREV_ENTRIES"])
    if counter > max_counter:
        # Check it again to make sure we are not giving a counter that's too big
        return 0
    return counter

# If counter is > 1Million, then the counter might have been reset.  
# Just set it to zero as different counters have different cycle limits
turnstiles_daily["DAILY_ENTRIES"] = turnstiles_daily.apply(get_daily_counts, axis=1, max_counter=1000000)

236 3136681.0
398 2687234.0
838901512 165134.0
55 5119489.0

In [35]:
turnstiles_daily.head()

,C/A,UNIT,SCP,STATION,DATE,ENTRIES,PREV_DATE,PREV_ENTRIES,DAILY_ENTRIES
1,A002,R051,02-00-00,59 ST,04/01/2018,6566470,03/31/2018,6566470.0,0.0
2,A002,R051,02-00-00,59 ST,04/02/2018,6567469,04/01/2018,6566470.0,999.0
3,A002,R051,02-00-00,59 ST,04/03/2018,6568775,04/02/2018,6567469.0,1306.0
4,A002,R051,02-00-00,59 ST,04/04/2018,6570115,04/03/2018,6568775.0,1340.0
5,A002,R051,02-00-00,59 ST,04/05/2018,6571500,04/04/2018,6570115.0,1385.0

### Get Top 10 Stations

In [36]:
turnstiles_daily_byStation = turnstiles_daily.groupby('STATION')['DAILY_ENTRIES'].sum()
#Convert series to dataframe
turnstiles_daily_byStation_df = pd.DataFrame({'STATION':turnstiles_daily_byStation.index, 'DAILY_ENTRIES':turnstiles_daily_byStation.values})

#turnstiles_daily_byStation_df['DAILY_ENTRIES']

### Get Station by Date

In [37]:
turnstiles_daily_byStationAndDate = turnstiles_daily.groupby(['STATION', 'DATE'])[['DAILY_ENTRIES']].sum()
turnstiles_daily_byStationAndDate

                            DAILY_ENTRIES
STATION         DATE
1 AV            04/01/2018        13367.0
                04/02/2018        17830.0
                04/03/2018        19463.0
                04/04/2018        20295.0
                04/05/2018        20759.0
                04/06/2018        21637.0
103 ST          04/01/2018        13058.0
                04/02/2018        25155.0
                04/03/2018        28452.0
                04/04/2018        28573.0
                04/05/2018        29629.0
                04/06/2018        29051.0
103 ST-CORONA   04/01/2018        11202.0
                04/02/2018        16912.0
                04/03/2018        18383.0
                04/04/2018        18534.0
                04/05/2018        19248.0
                04/06/2018        18645.0
104 ST          04/01/2018         1156.0
                04/02/2018         2662.0
                04/03/2018         2859.0
                04/04/2018         3040.0
                04/05/2018         3113.0
                04/06/2018         2857.0
110 ST          04/01/2018         3991.0
                04/02/2018         8513.0
                04/03/2018         9707.0
                04/04/2018         9843.0
                04/05/2018        10065.0
                04/06/2018         9954.0
...                                   ...
WOODHAVEN BLVD  04/01/2018        11248.0
                04/02/2018        22199.0
                04/03/2018        24617.0
                04/04/2018        24728.0
                04/05/2018        25375.0
                04/06/2018        24085.0
WOODLAWN        04/01/2018         3008.0
                04/02/2018         5748.0
                04/03/2018         6734.0
                04/04/2018         6793.0
                04/05/2018         6968.0
                04/06/2018         6514.0
WORLD TRADE CTR 04/01/2018         8576.0
                04/02/2018        16607.0
                04/03/2018        19250.0
                04/04/2018        19159.0
                04/05/2018        21008.0
                04/06/2018        18755.0
YORK ST         04/01/2018         4686.0
                04/02/2018         9080.0
                04/03/2018        10047.0
                04/04/2018        10493.0
                04/05/2018        11553.0
                04/06/2018        10041.0
ZEREGA AV       04/01/2018          933.0
                04/02/2018         2150.0
                04/03/2018         2313.0
                04/04/2018         2393.0
                04/05/2018         2266.0
                04/06/2018         2328.0

[2232 rows x 1 columns]

In [38]:
# Verify that we got same results via the non-pandas version.

## Exercise 1.4
We will plot the daily time series for a turnstile.

In ipython notebook, add this to the beginning of your next cell:

    %matplotlib inline

This will make your matplotlib graphs integrate nicely with the
notebook. To plot the time series, import matplotlib with

    import matplotlib.pyplot as plt

Take the list of [(date1, count1), (date2, count2), ...], for the
turnstile and turn it into two lists:
dates and counts. This should plot it:

    plt.figure(figsize=(10,3))
    plt.plot(dates,counts)

## Exercise 1.5

- So far we've been operating on a single turnstile level, let's
  combine turnstiles in the same ControlArea/Unit/Station combo. There
  are some ControlArea/Unit/Station groups that have a single
  turnstile, but most have multiple turnstilea-- same value for the
  C/A, UNIT and STATION columns, different values for the SCP column.

We want to combine the numbers together -- for each
ControlArea/UNIT/STATION combo, for each day, add the counts from each
turnstile belonging to that combo.

## Exercise 1.6

Similarly, combine everything in each station, and come up with a time
series of `[(date1, count1),(date2,count2),...]` type of time series
for each STATION, by adding up all the turnstiles in a station.

## Exercise 1.7

Plot the time series for a station.

## Exercise 1.8

- Make one list of counts for **one** week for one station. Monday's
count, Tuesday's count, etc. so it's a list of 7 counts.
Make the same list for another week, and another week, and another
week.
`plt.plot(week_count_list)` for every `week_count_list` you created
this way. You should get a rainbow plot of weekly commute numbers on
top of each other.

## Exercise 1.9

- Over multiple weeks, sum total ridership for each station and sort
  them, so you can find out the stations with the highest traffic
  during the time you investigate

## Exercise 1.10

- Make a single list of these total ridership values and plot it with

    plt.hist(total_ridership_counts)

to get an idea about the distribution of total ridership among
different stations.

This should show you that most stations have a small traffic, and the
histogram bins for large traffic volumes have small bars.

*Additional Hint*:

If you want to see which stations take the meat of the traffic, you
can sort the total ridership counts and make a `plt.bar` graph. For
this, you want to have two lists: the indices of each bar, and the
values. The indices can just be `0,1,2,3,...`, so you can do

    indices = range(len(total_ridership_values))
    plt.bar(indices, total_ridership_values)

## Try to cobmine Station with lat and long

In [39]:
#import data from http://web.mta.info/developers/data/nyct/subway/google_transit.zip
stops = pd.read_csv('data/stops.txt')
stops.head()

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station
0,101,NaN,Van Cortlandt Park - 242 St,NaN,40.889248,-73.898583,NaN,NaN,1,NaN
1,101N,NaN,Van Cortlandt Park - 242 St,NaN,40.889248,-73.898583,NaN,NaN,0,101
2,101S,NaN,Van Cortlandt Park - 242 St,NaN,40.889248,-73.898583,NaN,NaN,0,101
3,103,NaN,238 St,NaN,40.884667,-73.900870,NaN,NaN,1,NaN
4,103N,NaN,238 St,NaN,40.884667,-73.900870,NaN,NaN,0,103

In [40]:
stops['stop_name'].value_counts()

86 St                          18
Canal St                       18
Fulton St                      15
23 St                          15
Times Sq - 42 St               12
125 St                         12
145 St                         12
96 St                          12
Franklin Av                     9
Van Siclen Av                   9
Chambers St                     9
116 St                          9
Atlantic Av - Barclays Ctr      9
103 St                          9
Church Av                       9
Bay Pkwy                        9
14 St                           9
Grand Central - 42 St           9
72 St                           9
28 St                           9
18 Av                           9
111 St                          9
Broadway Jct                    9
50 St                           9
Fort Hamilton Pkwy              9
Kings Hwy                       9
Avenue U                        9
7 Av                            9
Court Sq                        9
34 St - Herald Sq               6
                               ..
Beach 67 St                     3
Roosevelt Island                3
183 St                          3
Avenue N                        3
Ditmas Av                       3
Rockaway Blvd                   3
1 Av                            3
Broad St                        3
49 St                           3
Great Kills                     3
42 St - Bryant Pk               3
9 Av                            3
Hewes St                        3
Botanic Garden                  3
3 Av                            3
Parkside Av                     3
Houston St                      3
Elder Av                        3
68 St - Hunter College          3
Buhre Av                        3
110 St                          3
Tremont Av                      3
President St                    3
Howard Beach - JFK Airport      3
Castle Hill Av                  3
Van Cortlandt Park - 242 St     3
Forest Av                       3
21 St                           3
Sterling St                     3
Smith - 9 Sts                   3
Name: stop_name, Length: 380, dtype: int64

In [41]:
resultStops = stops.drop_duplicates('stop_name').groupby(['stop_name'])['stop_name','stop_lat', 'stop_lon']
resultStops.head()
stops_df=resultStops.apply(lambda x: x) 
newColStopName = stops_df['stop_name']

newColStopName = newColStopName.str.replace('Grand Central', 'GRD CNTRL')
newColStopName = newColStopName.str.upper()
newColStopName = newColStopName.str.replace('POINT', 'PT')
newColStopName = newColStopName.str.replace('STATION', 'STA')
newColStopName = newColStopName.str.replace('-', '')
newColStopName = newColStopName.str.replace('\s+', '')

stops_df['upper_stop_name'] =newColStopName.str[:5]
stops_df['upper_stop_name']

0       VANCO
3       238ST
6       231ST
9       MARBL
12      215ST
15      207ST
18      DYCKM
21      191ST
24      181ST
27      168ST
30      157ST
33      145ST
36      137ST
39      125ST
42      116ST
45      CATHE
48      103ST
51       96ST
54       86ST
57       79ST
60       72ST
63      66STL
66      59STC
69       50ST
72      TIMES
75      34STP
78       28ST
81       23ST
84       18ST
87       14ST
        ...
1392      9ST
1398     25ST
1404     45ST
1407     53ST
1413    BAYRI
1422    BAYRI
1431    BOTAN
1434    TOTTE
1437    ATLAN
1440    ARTHU
1443    NASSA
1446    RICHM
1449    PLEAS
1452    PRINC
1455    HUGUE
1458    ANNAD
1461    ELTIN
1464    GREAT
1467    BAYTE
1470    OAKWO
1473    NEWDO
1476    GRANT
1479    JEFFE
1482    DONGA
1485    OLDTO
1488    GRASM
1491    CLIFT
1494    STAPL
1497    TOMPK
1500    STGEO
Name: upper_stop_name, Length: 380, dtype: object

In [42]:
turnstiles_daily.shape

(28220, 9)

In [43]:
#turnstiles_daily_byStation_dict =turnstiles_daily_byStation.apply(dict) 
#dailyDict = turnstiles_daily_byStation_dict['DAILY_ENTRIES']
turnstiles_daily_byStation_df

     DAILY_ENTRIES          STATION
0         113351.0             1 AV
1         153918.0           103 ST
2         102924.0    103 ST-CORONA
3          15687.0           104 ST
4          52073.0           110 ST
5          85366.0           111 ST
6         155705.0           116 ST
7          89370.0  116 ST-COLUMBIA
8           6028.0           121 ST
9         405728.0           125 ST
10         89470.0           135 ST
11         64129.0  137 ST CITY COL
12         15742.0   138/GRAND CONC
13        318081.0            14 ST
14        546984.0   14 ST-UNION SQ
15        183996.0           145 ST
16         55984.0   149/GRAND CONC
17         49341.0      14TH STREET
18         28133.0   15 ST-PROSPECT
19         37090.0           155 ST
20         60523.0           157 ST
21        145742.0  161/YANKEE STAD
22         92575.0           167 ST
23        141621.0           168 ST
24         40629.0           169 ST
25         74164.0           170 ST
26         33952.0           174 ST
27         27448.0      174-175 STS
28         69105.0           175 ST
29         26976.0           176 ST
..             ...              ...
342       121550.0   SUTPHIN-ARCHER
343        20309.0        SUTTER AV
344        33450.0  SUTTER AV-RUTLD
345        53488.0        THIRTY ST
346       145472.0  THIRTY THIRD ST
347       567137.0   TIMES SQ-42 ST
348         3546.0    TOMPKINSVILLE
349        49463.0       TREMONT AV
350        50762.0  TWENTY THIRD ST
351        35417.0         UNION ST
352        83390.0         UTICA AV
353        37502.0   V.CORTLANDT PK
354        27487.0    VAN SICLEN AV
355        15231.0   VAN SICLEN AVE
356        78339.0   VERNON-JACKSON
357       231216.0   W 4 ST-WASH SQ
358        12802.0  W 8 ST-AQUARIUM
359        25260.0    WAKEFIELD/241
360       224449.0          WALL ST
361        34786.0    WEST FARMS SQ
362        28411.0   WESTCHESTER SQ
363       104651.0  WHITEHALL S-FRY
364         8410.0      WHITLOCK AV
365        23781.0        WILSON AV
366        35042.0      WINTHROP ST
367       132252.0   WOODHAVEN BLVD
368        35765.0         WOODLAWN
369       103355.0  WORLD TRADE CTR
370        55900.0          YORK ST
371        12383.0        ZEREGA AV

[372 rows x 2 columns]

In [44]:
newColStation = turnstiles_daily_byStation_df['STATION']
newColStation = newColStation.str.upper()
newColStation = newColStation.str.replace('-', '')
newColStation = newColStation.str.replace('\s+', '')
turnstiles_daily_byStation_df['upper_STATION'] =  newColStation.str[:5]
turnstiles_daily_byStation_df['upper_STATION'].value_counts()

AVENU    8
BEACH    8
KINGS    4
NEWAR    4
BROAD    4
BEDFO    3
ROCKA    3
MYRTL    3
GRAND    3
JAMAI    3
ASTOR    3
SUTTE    2
LEXIN    2
PROSP    2
FRANK    2
CYPRE    2
BROOK    2
34STH    2
PELHA    2
NORWO    2
QUEEN    2
THIRT    2
116ST    2
5AV/5    2
SUTPH    2
103ST    2
4AV9S    2
FORES    2
HOYTS    2
NEWLO    2
        ..
BLEEC    1
PATHW    1
NEPTU    1
JEFFE    1
FTHAM    1
161/Y    1
125ST    1
FULTO    1
JKSNH    1
B'WAY    1
SIMPS    1
CANAR    1
NORTH    1
215ST    1
82STJ    1
67AV     1
GREEN    1
7AV      1
PAVON    1
138/G    1
TREMO    1
65ST     1
137ST    1
JUNCT    1
HOWAR    1
79ST     1
PENNS    1
EUCLI    1
DYCKM    1
219ST    1
Name: upper_STATION, Length: 311, dtype: int64

In [45]:
turnstiles_daily_stop = turnstiles_daily_byStation_df.merge(stops_df, left_on='upper_STATION', right_on='upper_stop_name', how='left')

# Remove all rows that have null STATION
turnstiles_daily_stop = turnstiles_daily_stop[turnstiles_daily_stop.STATION.notnull()]
turnstiles_daily_stop.shape

(609, 7)

In [46]:
turnstiles_daily_stop[turnstiles_daily_stop.upper_stop_name.isnull()]['STATION'].value_counts()

PATH NEW WTC       1
JOURNAL SQUARE     1
RIT-ROOSEVELT      1
61 ST WOODSIDE     1
46 ST BLISS ST     1
E 143/ST MARY'S    1
MORISN AV/SNDVW    1
W 4 ST-WASH SQ     1
5 AVE              1
HARRISON           1
RIT-MANHATTAN      1
40 ST LOWERY ST    1
138/GRAND CONC     1
PAVONIA/NEWPORT    1
96 ST-2 AVE        1
NEWARK HM HE       1
72 ST-2 AVE        1
86 ST-2 AVE        1
4 AV-9 ST          1
NEWARK HW BMEBE    1
CITY / BUS         1
149/GRAND CONC     1
4AV-9 ST           1
FT HAMILTON PKY    1
33 ST-RAWSON ST    1
PATH WTC 2         1
LACKAWANNA         1
ATL AV-BARCLAY     1
NEWARK C           1
TWENTY THIRD ST    1
NEWARK BM BW       1
GROVE STREET       1
9TH STREET         1
EXCHANGE PLACE     1
W 8 ST-AQUARIUM    1
EASTN PKWY-MUSM    1
B'WAY-LAFAYETTE    1
THIRTY ST          1
THIRTY THIRD ST    1
14TH STREET        1
JKSN HT-ROOSVLT    1
ST. GEORGE         1
JFK JAMAICA CT1    1
75 ST-ELDERTS      1
EAST 105 ST        1
V.CORTLANDT PK     1
161/YANKEE STAD    1
Name: STATION, dtype: int64

In [65]:
turnstiles_daily_stop = turnstiles_daily_stop.sort_values(by=['DAILY_ENTRIES'], ascending=False)
turnstiles_daily_stop

,DAILY_ENTRIES,STATION,upper_STATION,stop_name,stop_lat,stop_lon,upper_stop_name
64,926865.0,34 ST-PENN STA,34STP,34 St - Penn Station,40.750373,-73.991057,34STP
408,835361.0,GRD CNTRL-42 ST,GRDCN,Grand Central - 42 St,40.751776,-73.976848,GRDCN
62,697252.0,34 ST-HERALD SQ,34STH,34 St - Herald Sq,40.749719,-73.987823,34STH
50,604723.0,23 ST,23ST,23 St,40.744081,-73.995657,23ST
70,600254.0,42 ST-PORT AUTH,42STP,42 St - Port Authority Bus Terminal,40.757308,-73.989735,42STP
89,579229.0,59 ST,59ST,59 St,40.762526,-73.967967,59ST
583,567137.0,TIMES SQ-42 ST,TIMES,Times Sq - 42 St,40.755290,-73.987495,TIMES
18,546984.0,14 ST-UNION SQ,14STU,14 St - Union Sq,40.734673,-73.989951,14STU
394,519745.0,FULTON ST,FULTO,Fulton St,40.709416,-74.006571,FULTO
283,514473.0,BEDFORD PK BLVD,BEDFO,Bedford - Nostrand Avs,40.689627,-73.953522,BEDFO
282,514473.0,BEDFORD PK BLVD,BEDFO,Bedford Park Blvd,40.873244,-73.887138,BEDFO
281,514473.0,BEDFORD PK BLVD,BEDFO,Bedford Park Blvd - Lehman College,40.873412,-73.890064,BEDFO
284,514473.0,BEDFORD PK BLVD,BEDFO,Bedford Av,40.717304,-73.956872,BEDFO
114,443470.0,86 ST,86ST,86 St,40.788644,-73.976218,86ST
527,413270.0,PATH NEW WTC,PATHN,NaN,NaN,NaN,NaN
330,409407.0,CANAL ST,CANAL,Canal St,40.722854,-74.006277,CANAL
13,405728.0,125 ST,125ST,125 St,40.815581,-73.958372,125ST
90,372523.0,59 ST COLUMBUS,59STC,59 St - Columbus Circle,40.768247,-73.981929,59STC
464,323524.0,LACKAWANNA,LACKA,NaN,NaN,NaN,NaN
17,318081.0,14 ST,14ST,14 St,40.737826,-74.000201,14ST
74,314897.0,47-50 STS ROCK,4750S,47-50 Sts - Rockefeller Ctr,40.758663,-73.981329,4750S
119,313929.0,96 ST,96ST,96 St,40.793919,-73.972323,96ST
380,292522.0,FLUSHING-MAIN,FLUSH,Flushing - Main St,40.759600,-73.830030,FLUSH
381,292522.0,FLUSHING-MAIN,FLUSH,Flushing Av,40.700377,-73.950234,FLUSH
338,277889.0,CHAMBERS ST,CHAMB,Chambers St,40.715478,-74.009266,CHAMB
56,274623.0,28 ST,28ST,28 St,40.747215,-73.993365,28ST
82,267976.0,50 ST,50ST,50 St,40.761728,-73.983849,50ST
442,259796.0,JKSN HT-ROOSVLT,JKSNH,NaN,NaN,NaN,NaN
101,246230.0,72 ST,72ST,72 St,40.778453,-73.981970,72ST
137,234281.0,ATL AV-BARCLAY,ATLAV,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
241,3250.0,BEACH 44 ST,BEACH,Beach 25 St,40.600066,-73.761353,BEACH
240,3250.0,BEACH 44 ST,BEACH,Beach 36 St,40.595398,-73.768175,BEACH
238,3250.0,BEACH 44 ST,BEACH,Beach 60 St,40.592374,-73.788522,BEACH
239,3250.0,BEACH 44 ST,BEACH,Beach 44 St,40.592943,-73.776013,BEACH
237,3250.0,BEACH 44 ST,BEACH,Beach 67 St,40.590927,-73.796924,BEACH
558,2847.0,ROCKAWAY PARK B,ROCKA,Rockaway Park - Beach 116 St,40.580903,-73.835592,ROCKA
557,2847.0,ROCKAWAY PARK B,ROCKA,Rockaway Blvd,40.680429,-73.843853,ROCKA
556,2847.0,ROCKAWAY PARK B,ROCKA,Rockaway Av,40.662549,-73.908946,ROCKA
561,2449.0,SENECA AVE,SENEC,Seneca Av,40.702762,-73.907740,SENEC
269,1704.0,BEACH 98 ST,BEACH,Beach 67 St,40.590927,-73.796924,BEACH
273,1704.0,BEACH 98 ST,BEACH,Beach 25 St,40.600066,-73.761353,BEACH
276,1704.0,BEACH 98 ST,BEACH,Beach 105 St,40.583209,-73.827559,BEACH
274,1704.0,BEACH 98 ST,BEACH,Beach 90 St,40.588034,-73.813641,BEACH
275,1704.0,BEACH 98 ST,BEACH,Beach 98 St,40.585307,-73.820558,BEACH
270,1704.0,BEACH 98 ST,BEACH,Beach 60 St,40.592374,-73.788522,BEACH
272,1704.0,BEACH 98 ST,BEACH,Beach 36 St,40.595398,-73.768175,BEACH
271,1704.0,BEACH 98 ST,BEACH,Beach 44 St,40.592943,-73.776013,BEACH
301,1381.0,BROAD CHANNEL,BROAD,Broadway Jct,40.678334,-73.905316,BROAD
302,1381.0,BROAD CHANNEL,BROAD,Broadway-Lafayette St,40.725297,-73.996204,BROAD
303,1381.0,BROAD CHANNEL,BROAD,Broadway,40.706092,-73.950308,BROAD
305,1381.0,BROAD CHANNEL,BROAD,Broad St,40.706476,-74.011056,BROAD
304,1381.0,BROAD CHANNEL,BROAD,Broad Channel,40.608382,-73.815925,BROAD
215,887.0,BEACH 105 ST,BEACH,Beach 44 St,40.592943,-73.776013,BEACH
220,887.0,BEACH 105 ST,BEACH,Beach 105 St,40.583209,-73.827559,BEACH
219,887.0,BEACH 105 ST,BEACH,Beach 98 St,40.585307,-73.820558,BEACH
218,887.0,BEACH 105 ST,BEACH,Beach 90 St,40.588034,-73.813641,BEACH
217,887.0,BEACH 105 ST,BEACH,Beach 25 St,40.600066,-73.761353,BEACH
213,887.0,BEACH 105 ST,BEACH,Beach 67 St,40.590927,-73.796924,BEACH
214,887.0,BEACH 105 ST,BEACH,Beach 60 St,40.592374,-73.788522,BEACH
216,887.0,BEACH 105 ST,BEACH,Beach 36 St,40.595398,-73.768175,BEACH

### Get top 10 Location and add to map

In [84]:
%matplotlib inline
import gmaps
import math

top10Stations = turnstiles_daily_stop[:11]
top10Stations['Rank'] = top10Stations['DAILY_ENTRIES'].rank(ascending=False).astype(int)
top10Stations

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,DAILY_ENTRIES,STATION,upper_STATION,stop_name,stop_lat,stop_lon,upper_stop_name,Rank
64,926865.0,34 ST-PENN STA,34STP,34 St - Penn Station,40.750373,-73.991057,34STP,1
408,835361.0,GRD CNTRL-42 ST,GRDCN,Grand Central - 42 St,40.751776,-73.976848,GRDCN,2
62,697252.0,34 ST-HERALD SQ,34STH,34 St - Herald Sq,40.749719,-73.987823,34STH,3
50,604723.0,23 ST,23ST,23 St,40.744081,-73.995657,23ST,4
70,600254.0,42 ST-PORT AUTH,42STP,42 St - Port Authority Bus Terminal,40.757308,-73.989735,42STP,5
89,579229.0,59 ST,59ST,59 St,40.762526,-73.967967,59ST,6
583,567137.0,TIMES SQ-42 ST,TIMES,Times Sq - 42 St,40.755290,-73.987495,TIMES,7
18,546984.0,14 ST-UNION SQ,14STU,14 St - Union Sq,40.734673,-73.989951,14STU,8
394,519745.0,FULTON ST,FULTO,Fulton St,40.709416,-74.006571,FULTO,9
283,514473.0,BEDFORD PK BLVD,BEDFO,Bedford - Nostrand Avs,40.689627,-73.953522,BEDFO,10
282,514473.0,BEDFORD PK BLVD,BEDFO,Bedford Park Blvd,40.873244,-73.887138,BEDFO,10

In [85]:
gmaps.configure(api_key="AIzaSyCM2FKc59VWg6jMI8nj9kN1Gii3DHsGNnE")
location_columns = top10Stations[['stop_lat', 'stop_lon']]
top10Stations[['STATION','stop_lat', 'stop_lon']]

             STATION   stop_lat   stop_lon
64    34 ST-PENN STA  40.750373 -73.991057
408  GRD CNTRL-42 ST  40.751776 -73.976848
62   34 ST-HERALD SQ  40.749719 -73.987823
50             23 ST  40.744081 -73.995657
70   42 ST-PORT AUTH  40.757308 -73.989735
89             59 ST  40.762526 -73.967967
583   TIMES SQ-42 ST  40.755290 -73.987495
18    14 ST-UNION SQ  40.734673 -73.989951
394        FULTON ST  40.709416 -74.006571
283  BEDFORD PK BLVD  40.689627 -73.953522
282  BEDFORD PK BLVD  40.873244 -73.887138

In [86]:

location_tuples = [tuple(x) for x in location_columns.values]
fig = gmaps.figure(zoom_level=12, center=location_tuples[0])
info_box_template = """
<dl>
<dt>Rank</dt><dd>{Rank}</dd>
<dt>Name</dt><dd>{STATION}</dd>
<dt>DAILY ENTRIES</dt><dd>{DAILY_ENTRIES}</dd>
</dl>
"""
plant_info = [info_box_template.format(**plant) for plant in top10Stations.T.to_dict().values()]
fig.add_layer(gmaps.marker_layer(location_tuples, info_box_content=plant_info))

fig

Figure(layout=FigureLayout(height='420px'))