# Challenge Set 1:  MTA Turnstile Data

# Field Description
http://web.mta.info/developers/resources/nyct/turnstile/ts_Field_Description.txt
C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS

```
C/A      = Control Area (A002)
UNIT     = Remote Unit for a station (R051)
SCP      = Subunit Channel Position represents an specific address for a device (02-00-00)
STATION  = Represents the station name the device is located at
LINENAME = Represents all train lines that can be boarded at this station
           Normally lines are represented by one character.  LINENAME 456NQR repersents train server for 4, 5, 6, N, Q, and R trains.
DIVISION = Represents the Line originally the station belonged to BMT, IRT, or IND   
DATE     = Represents the date (MM-DD-YY)
TIME     = Represents the time (hh:mm:ss) for a scheduled audit event
DESc     = Represent the "REGULAR" scheduled audit event (Normally occurs every 4 hours)
           1. Audits may occur more that 4 hours due to planning, or troubleshooting activities. 
           2. Additionally, there may be a "RECOVR AUD" entry: This refers to a missed audit that was recovered. 
ENTRIES  = The comulative entry register value for a device
EXIST    = The cumulative exit register value for a device
```

In [ ]:
from __future__ import print_function, division

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
import datetime

## Exercise 1.1

- Open up a new Jupyter notebook
- Download a few MTA turnstile data files
- Open up a file, use csv reader to read it, make a python dict where
  there is a key for each (C/A, UNIT, SCP, STATION). These are the
  first four columns. The value for this key should be a list of
  lists. Each list in the list is the rest of the columns in a
  row. For example, one key-value pair should look like


{    ('A002','R051','02-00-00','LEXINGTON AVE'):
[
['NQR456', 'BMT', '01/03/2015', '03:00:00', 'REGULAR', '0004945474', '0001675324'],
['NQR456', 'BMT', '01/03/2015', '07:00:00', 'REGULAR', '0004945478', '0001675333'],
['NQR456', 'BMT', '01/03/2015', '11:00:00', 'REGULAR', '0004945515', '0001675364'],
...
]
}

In [5]:
# Source: http://web.mta.info/developers/turnstile.html
def get_data(week_nums):
    url = "turnstile_{}.txt"
    dfs = []
    for week_num in week_nums:
        file_url = url.format(week_num)
        dfs.append(pd.read_csv(file_url))
    return pd.concat(dfs)
        
week_nums = [180407]
turnstiles_df = get_data(week_nums)
turnstiles_df

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,00:00:00,REGULAR,6566463,2224050
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,04:00:00,REGULAR,6566470,2224053
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,08:00:00,REGULAR,6566470,2224053
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,12:00:00,REGULAR,6566470,2224055
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,16:00:00,REGULAR,6566470,2224055
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,20:00:00,REGULAR,6566470,2224055
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/01/2018,00:00:00,REGULAR,6566470,2224055
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/01/2018,04:00:00,REGULAR,6566470,2224055
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/01/2018,08:00:00,REGULAR,6566470,2224055
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/01/2018,12:00:00,REGULAR,6566470,2224055
10,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/01/2018,16:00:00,REGULAR,6566470,2224055
11,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/01/2018,20:00:00,REGULAR,6566470,2224055
12,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/02/2018,00:00:00,REGULAR,6566470,2224055
13,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/02/2018,04:00:00,REGULAR,6566470,2224055
14,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/02/2018,08:00:00,REGULAR,6566495,2224142
15,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/02/2018,12:00:00,REGULAR,6566629,2224350
16,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/02/2018,16:00:00,REGULAR,6566839,2224406
17,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/02/2018,20:00:00,REGULAR,6567469,2224472
18,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/03/2018,00:00:00,REGULAR,6567630,2224496
19,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/03/2018,04:00:00,REGULAR,6567630,2224496
20,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/03/2018,08:00:00,REGULAR,6567660,2224606
21,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/03/2018,12:00:00,REGULAR,6567822,2224834
22,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/03/2018,16:00:00,REGULAR,6568094,2224909
23,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/03/2018,20:00:00,REGULAR,6568775,2225000
24,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/04/2018,00:00:00,REGULAR,6568921,2225039
25,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/04/2018,04:00:00,REGULAR,6568924,2225039
26,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/04/2018,08:00:00,REGULAR,6568955,2225144
27,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/04/2018,12:00:00,REGULAR,6569103,2225359
28,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/04/2018,16:00:00,REGULAR,6569377,2225415
29,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/04/2018,20:00:00,REGULAR,6570115,2225480
...,...,...,...,...,...,...,...,...,...,...,...
196958,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/02/2018,01:00:00,REGULAR,2868553,385619
196959,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/02/2018,05:00:00,REGULAR,2868553,385619
196960,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/02/2018,09:00:00,REGULAR,2868555,385624
196961,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/02/2018,13:00:00,REGULAR,2868593,385626
196962,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/02/2018,17:00:00,REGULAR,2868683,385630
196963,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/02/2018,21:00:00,REGULAR,2868821,385632
196964,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/03/2018,01:00:00,REGULAR,2868845,385632
196965,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/03/2018,05:00:00,REGULAR,2868847,385632
196966,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/03/2018,09:00:00,REGULAR,2868857,385634
196967,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/03/2018,13:00:00,REGULAR,2868961,385641
196968,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/03/2018,17:00:00,REGULAR,2869055,385655
196969,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/03/2018,21:00:00,REGULAR,2869099,385690
196970,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/04/2018,01:00:00,REGULAR,2869127,385692
196971,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/04/2018,05:00:00,REGULAR,2869127,385692
196972,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/04/2018,09:00:00,REGULAR,2869134,385693
196973,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/04/2018,13:00:00,REGULAR,2869189,385696
196974,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/04/2018,17:00:00,REGULAR,2869322,385714
196975,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/04/2018,21:00:00,REGULAR,2869441,385721
196976,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/05/2018,01:00:00,REGULAR,2869452,385721
196977,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/05/2018,05:00:00,REGULAR,2869457,385721
196978,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/05/2018,09:00:00,REGULAR,2869466,385723
196979,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/05/2018,13:00:00,REGULAR,2869540,385731
196980,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/05/2018,17:00:00,REGULAR,2869624,385733
196981,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/05/2018,21:00:00,REGULAR,2869706,385735
196982,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/06/2018,01:00:00,REGULAR,2869725,385736
196983,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/06/2018,05:00:00,REGULAR,2869725,385736
196984,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/06/2018,09:00:00,REGULAR,2869735,385736
196985,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/06/2018,13:00:00,REGULAR,2869816,385739
196986,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/06/2018,17:00:00,REGULAR,2869949,385744
196987,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/06/2018,21:00:00,REGULAR,2870062,385749

In [6]:
turnstiles_df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [7]:
turnstiles_df.columns = [column.strip() for column in turnstiles_df.columns]

In [8]:
turnstiles_df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS'],
      dtype='object')

In [9]:
turnstiles_df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,00:00:00,REGULAR,6566463,2224050
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,04:00:00,REGULAR,6566470,2224053
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,08:00:00,REGULAR,6566470,2224053
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,12:00:00,REGULAR,6566470,2224055
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,16:00:00,REGULAR,6566470,2224055

In [10]:
turnstiles_df.tail()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
196983,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/06/2018,05:00:00,REGULAR,2869725,385736
196984,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/06/2018,09:00:00,REGULAR,2869735,385736
196985,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/06/2018,13:00:00,REGULAR,2869816,385739
196986,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/06/2018,17:00:00,REGULAR,2869949,385744
196987,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/06/2018,21:00:00,REGULAR,2870062,385749

In [11]:
# Three weeks of Data
turnstiles_df.DATE.value_counts().sort_index()

03/31/2018    28129
04/01/2018    28084
04/02/2018    28049
04/03/2018    28189
04/04/2018    28154
04/05/2018    28262
04/06/2018    28121
Name: DATE, dtype: int64


## Exercise 1.2

- Let's turn this into a time series.

 For each key (basically the control area, unit, device address and
 station of a specific turnstile), have a list again, but let the list
 be comprised of just the point in time and the count of entries.

This basically means keeping only the date, time, and entries fields
in each list. You can convert the date and time into datetime objects
-- That is a python class that represents a point in time. You can
combine the date and time fields into a string and use the
[dateutil](https://labix.org/python-dateutil) module to convert it
into a datetime object. For an example check
[this StackOverflow question](http://stackoverflow.com/questions/23385003/attributeerror-when-using-import-dateutil-and-dateutil-parser-parse-but-no).

Your new dict should look something like

{    ('A002','R051','02-00-00','LEXINGTON AVE'):
[
[datetime.datetime(2013, 3, 2, 3, 0), 3788],
[datetime.datetime(2013, 3, 2, 7, 0), 2585],
[datetime.datetime(2013, 3, 2, 12, 0), 10653],
[datetime.datetime(2013, 3, 2, 17, 0), 11016],
[datetime.datetime(2013, 3, 2, 23, 0), 10666],
[datetime.datetime(2013, 3, 3, 3, 0), 10814],
[datetime.datetime(2013, 3, 3, 7, 0), 10229],
...
],
....
}

In [12]:
turnstiles_df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS'],
      dtype='object')

In [13]:
from datetime import datetime as dt

In [14]:
mask = ((turnstiles_df["C/A"] == "A002") & 
        (turnstiles_df["UNIT"] == "R051") & 
        (turnstiles_df["SCP"] == "02-00-00") & 
        (turnstiles_df["STATION"] == "59 ST"))
turnstiles_df[mask].head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,00:00:00,REGULAR,6566463,2224050
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,04:00:00,REGULAR,6566470,2224053
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,08:00:00,REGULAR,6566470,2224053
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,12:00:00,REGULAR,6566470,2224055
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,16:00:00,REGULAR,6566470,2224055

In [15]:
# Take the date and time fields into a single datetime column
turnstiles_df["DATE_TIME"] = pd.to_datetime(turnstiles_df.DATE + " " + turnstiles_df.TIME, format="%m/%d/%Y %H:%M:%S")

In [16]:
mask = ((turnstiles_df["C/A"] == "R626") & 
(turnstiles_df["UNIT"] == "R062") & 
(turnstiles_df["SCP"] == "00-00-00") & 
(turnstiles_df["STATION"] == "CROWN HTS-UTICA"))
turnstiles_df[mask].head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
190425,R626,R062,00-00-00,CROWN HTS-UTICA,34,IRT,03/31/2018,00:00:00,REGULAR,13689971,3027500,2018-03-31 00:00:00
190426,R626,R062,00-00-00,CROWN HTS-UTICA,34,IRT,03/31/2018,04:00:00,REGULAR,13689994,3027526,2018-03-31 04:00:00
190427,R626,R062,00-00-00,CROWN HTS-UTICA,34,IRT,03/31/2018,08:00:00,REGULAR,13690166,3027544,2018-03-31 08:00:00
190428,R626,R062,00-00-00,CROWN HTS-UTICA,34,IRT,03/31/2018,12:00:00,REGULAR,13690502,3027606,2018-03-31 12:00:00
190429,R626,R062,00-00-00,CROWN HTS-UTICA,34,IRT,03/31/2018,16:00:00,REGULAR,13690940,3027680,2018-03-31 16:00:00

In [17]:
# turnstiles_df = .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"]).ENTRIES.count().reset_index().sort_values("ENTRIES", ascending=False)

In [18]:
# Sanity Check to verify that "C/A", "UNIT", "SCP", "STATION", "DATE_TIME" is unique
(turnstiles_df
 .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"])
 .ENTRIES.count()
 .reset_index()
 .sort_values("ENTRIES", ascending=False)).head(5)

         C/A  UNIT       SCP         STATION           DATE_TIME  ENTRIES
67020   N183  R415  00-00-00   BROAD CHANNEL 2018-04-04 05:00:00        2
0       A002  R051  02-00-00           59 ST 2018-03-31 00:00:00        1
131317  R143  R032  02-00-03  TIMES SQ-42 ST 2018-04-03 16:00:00        1
131319  R143  R032  02-00-03  TIMES SQ-42 ST 2018-04-04 00:00:00        1
131320  R143  R032  02-00-03  TIMES SQ-42 ST 2018-04-04 04:00:00        1

In [19]:
# On 9/16, we seem to have two entries for same time.  Let's take a look
mask = ((turnstiles_df["C/A"] == "R504") & 
(turnstiles_df["UNIT"] == "R276") & 
(turnstiles_df["SCP"] == "00-00-01") & 
(turnstiles_df["STATION"] == "VERNON-JACKSON") &
(turnstiles_df["DATE_TIME"].dt.date == datetime.datetime(2016, 9, 16).date()))
turnstiles_df[mask].head()

Empty DataFrame
Columns: [C/A, UNIT, SCP, STATION, LINENAME, DIVISION, DATE, TIME, DESC, ENTRIES, EXITS, DATE_TIME]
Index: []

* Looks to be a incorrect AUD entry.  May be we should just select the Regular One.

In [20]:
turnstiles_df.DESC.value_counts()

REGULAR       196339
RECOVR AUD       649
Name: DESC, dtype: int64

* Since we are only interested in Entries, we might be OK.

In [21]:
# Get rid of the duplicate entry
turnstiles_df.sort_values(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"], inplace=True, ascending=False)
turnstiles_df.drop_duplicates(subset=["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"], inplace=True)

In [22]:
# Sanity Check to verify that "C/A", "UNIT", "SCP", "STATION", "DATE_TIME" is unique
(turnstiles_df
 .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"])
 .ENTRIES.count()
 .reset_index()
 .sort_values("ENTRIES", ascending=False)).head(5)

         C/A  UNIT       SCP         STATION           DATE_TIME  ENTRIES
0       A002  R051  02-00-00           59 ST 2018-03-31 00:00:00        1
131197  R143  R032  02-00-00  TIMES SQ-42 ST 2018-04-04 16:00:00        1
131319  R143  R032  02-00-03  TIMES SQ-42 ST 2018-04-04 00:00:00        1
131320  R143  R032  02-00-03  TIMES SQ-42 ST 2018-04-04 04:00:00        1
131321  R143  R032  02-00-03  TIMES SQ-42 ST 2018-04-04 08:00:00        1

* No more duplicate Entries

In [23]:
# Drop Exits and Desc Column.  To prevent errors in multiple run of cell, errors on drop is ignored
turnstiles_df = turnstiles_df.drop(["EXITS", "DESC"], axis=1, errors="ignore")

## Exercise 1.3

- These counts are for every n hours. (What is n?) We want total daily
  entries.

Now make it that we again have the same keys, but now we have a single
value for a single day, which is the total number of passengers that
entered through this turnstile on this day.

In [24]:
turnstiles_daily = turnstiles_df.groupby(["C/A", "UNIT", "SCP", "STATION", "DATE"]).ENTRIES.first().reset_index()

In [25]:
turnstiles_daily.head()

    C/A  UNIT       SCP STATION        DATE  ENTRIES
0  A002  R051  02-00-00   59 ST  03/31/2018  6566470
1  A002  R051  02-00-00   59 ST  04/01/2018  6566470
2  A002  R051  02-00-00   59 ST  04/02/2018  6567469
3  A002  R051  02-00-00   59 ST  04/03/2018  6568775
4  A002  R051  02-00-00   59 ST  04/04/2018  6570115

In [26]:
turnstiles_daily[["PREV_DATE", "PREV_ENTRIES"]] = (turnstiles_daily
                                                       .groupby(["C/A", "UNIT", "SCP", "STATION"])["DATE", "ENTRIES"]
                                                       .transform(lambda grp: grp.shift(1)))

In [27]:
turnstiles_daily.head()

    C/A  UNIT       SCP STATION        DATE  ENTRIES   PREV_DATE  PREV_ENTRIES
0  A002  R051  02-00-00   59 ST  03/31/2018  6566470         NaN           NaN
1  A002  R051  02-00-00   59 ST  04/01/2018  6566470  03/31/2018     6566470.0
2  A002  R051  02-00-00   59 ST  04/02/2018  6567469  04/01/2018     6566470.0
3  A002  R051  02-00-00   59 ST  04/03/2018  6568775  04/02/2018     6567469.0
4  A002  R051  02-00-00   59 ST  04/04/2018  6570115  04/03/2018     6568775.0

In [28]:
turnstiles_daily.tail()

,C/A,UNIT,SCP,STATION,DATE,ENTRIES,PREV_DATE,PREV_ENTRIES
32920,TRAM2,R469,00-03-01,RIT-ROOSEVELT,04/02/2018,2868821,04/01/2018,2868539.0
32921,TRAM2,R469,00-03-01,RIT-ROOSEVELT,04/03/2018,2869099,04/02/2018,2868821.0
32922,TRAM2,R469,00-03-01,RIT-ROOSEVELT,04/04/2018,2869441,04/03/2018,2869099.0
32923,TRAM2,R469,00-03-01,RIT-ROOSEVELT,04/05/2018,2869706,04/04/2018,2869441.0
32924,TRAM2,R469,00-03-01,RIT-ROOSEVELT,04/06/2018,2870062,04/05/2018,2869706.0

In [29]:
# Drop the rows for last date
turnstiles_daily.dropna(subset=["PREV_DATE"], axis=0, inplace=True)

In [30]:
turnstiles_daily[turnstiles_daily["ENTRIES"] < turnstiles_daily["PREV_ENTRIES"]].head()

,C/A,UNIT,SCP,STATION,DATE,ENTRIES,PREV_DATE,PREV_ENTRIES
239,A011,R080,01-00-00,57 ST-7 AV,04/01/2018,886024555,03/31/2018,886026296.0
240,A011,R080,01-00-00,57 ST-7 AV,04/02/2018,886021591,04/01/2018,886024555.0
241,A011,R080,01-00-00,57 ST-7 AV,04/03/2018,886017908,04/02/2018,886021591.0
242,A011,R080,01-00-00,57 ST-7 AV,04/04/2018,886014207,04/03/2018,886017908.0
243,A011,R080,01-00-00,57 ST-7 AV,04/05/2018,886010370,04/04/2018,886014207.0

In [31]:
# What's the deal with counter being in reverse
mask = ((turnstiles_df["C/A"] == "A011") & 
(turnstiles_df["UNIT"] == "R080") & 
(turnstiles_df["SCP"] == "01-00-00") & 
(turnstiles_df["STATION"] == "57 ST-7 AV") &
(turnstiles_df["DATE_TIME"].dt.date == datetime.datetime(2016, 8, 27).date()))
turnstiles_df[mask].head()

Empty DataFrame
Columns: [C/A, UNIT, SCP, STATION, LINENAME, DIVISION, DATE, TIME, ENTRIES, DATE_TIME]
Index: []

* Counter working in Reverse??? - WHHHAT

In [32]:
# Let's see how many stations have this problem

(turnstiles_daily[turnstiles_daily["ENTRIES"] < turnstiles_daily["PREV_ENTRIES"]]
    .groupby(["C/A", "UNIT", "SCP", "STATION"])
     .size())

C/A    UNIT  SCP       STATION
A011   R080  01-00-00  57 ST-7 AV         6
A025   R023  01-03-01  34 ST-HERALD SQ    6
A049   R088  02-05-00  CORTLANDT ST       6
A066   R118  00-00-00  CANAL ST           6
C021   R212  00-00-02  59 ST              6
D011   R394  01-06-00  BAY PKWY           6
             01-06-01  BAY PKWY           6
H003   R163  01-00-02  6 AV               6
H023   R236  00-06-00  DEKALB AV          6
J034   R007  00-00-02  104 ST             6
K026   R100  00-00-01  METROPOLITAN AV    6
N063A  R011  00-00-04  42 ST-PORT AUTH    6
             00-00-05  42 ST-PORT AUTH    6
             00-00-08  42 ST-PORT AUTH    6
N078   R175  01-03-00  14 ST              6
N137   R354  00-00-00  104 ST             1
             00-06-01  104 ST             6
N203   R195  00-00-01  161/YANKEE STAD    6
N223   R156  01-05-01  BEDFORD PK BLVD    1
N305   R017  01-03-04  LEXINGTON AV/53    6
N327   R254  00-06-01  GRAND-NEWTOWN      6
N342   R019  01-03-02  JAMAICA 179 ST     6
N506   R022  00-05-04  34 ST-HERALD SQ    6
N508   R453  00-00-02  23 ST              6
N539   R288  00-03-01  7 AV               6
N600   R302  00-06-00  57 ST              6
N601   R319  00-00-01  LEXINGTON AV/63    6
N606   R025  00-00-01  JAMAICA CENTER     6
PTH11  R545  00-00-03  14TH STREET        2
PTH13  R541  00-04-07  THIRTY ST          1
PTH16  R550  01-01-02  LACKAWANNA         1
PTH17  R541  01-00-07  THIRTY THIRD ST    1
PTH22  R540  00-00-00  PATH NEW WTC       1
             00-00-07  PATH NEW WTC       1
             00-01-06  PATH NEW WTC       1
R127   R105  00-00-00  14 ST              6
R148   R033  01-00-01  TIMES SQ-42 ST     6
R161B  R452  00-00-03  72 ST              6
R210   R044  00-03-04  BROOKLYN BRIDGE    6
R227   R131  00-00-00  23 ST              6
R241A  R048  00-00-00  GRD CNTRL-42 ST    6
R245   R051  00-00-00  59 ST              6
R245A  R051  01-06-01  59 ST              1
R258   R132  00-00-03  125 ST             6
R304   R206  00-00-00  125 ST             5
R307   R207  01-00-01  135 ST             1
R310   R053  01-00-02  3 AV-149 ST        6
R322   R386  00-00-02  174 ST             6
R519   R223  00-00-03  46 ST BLISS ST     1
R622   R123  00-00-00  FRANKLIN AV        6
R646   R110  01-00-01  FLATBUSH AV-B.C    6
R730   R431  00-00-04  EASTCHSTER/DYRE    6
dtype: int64

In [33]:
def get_daily_counts(row, max_counter):
    counter = row["ENTRIES"] - row["PREV_ENTRIES"]
    if counter < 0:
        counter = -counter
    if counter > max_counter:
        print(row["ENTRIES"], row["PREV_ENTRIES"])
        return 0
    return counter

# If counter is > 1Million, then the counter might have been reset.  
# Just set it to zero as different counters have different cycle limits
_ = turnstiles_daily.apply(get_daily_counts, axis=1, max_counter=1000000)

236 3136681.0
398 2687234.0
838901512 165134.0
55 5119489.0

In [34]:
def get_daily_counts(row, max_counter):
    counter = row["ENTRIES"] - row["PREV_ENTRIES"]
    if counter < 0:
        # May be counter is reversed?
        counter = -counter
    if counter > max_counter:
        print(row["ENTRIES"], row["PREV_ENTRIES"])
        counter = min(row["ENTRIES"], row["PREV_ENTRIES"])
    if counter > max_counter:
        # Check it again to make sure we are not giving a counter that's too big
        return 0
    return counter

# If counter is > 1Million, then the counter might have been reset.  
# Just set it to zero as different counters have different cycle limits
turnstiles_daily["DAILY_ENTRIES"] = turnstiles_daily.apply(get_daily_counts, axis=1, max_counter=1000000)

236 3136681.0
398 2687234.0
838901512 165134.0
55 5119489.0

In [195]:
turnstiles_daily.head()

,C/A,UNIT,SCP,STATION,DATE,ENTRIES,PREV_DATE,PREV_ENTRIES,DAILY_ENTRIES,upper_STATION
1,A002,R051,02-00-00,59 ST,04/01/2018,6566470,03/31/2018,6566470.0,0.0,59ST
2,A002,R051,02-00-00,59 ST,04/02/2018,6567469,04/01/2018,6566470.0,999.0,59ST
3,A002,R051,02-00-00,59 ST,04/03/2018,6568775,04/02/2018,6567469.0,1306.0,59ST
4,A002,R051,02-00-00,59 ST,04/04/2018,6570115,04/03/2018,6568775.0,1340.0,59ST
5,A002,R051,02-00-00,59 ST,04/05/2018,6571500,04/04/2018,6570115.0,1385.0,59ST

### Get Top 10 Stations

In [269]:
turnstiles_daily_byStation = turnstiles_daily.groupby('STATION')['DAILY_ENTRIES'].sum()
#Convert series to dataframe
turnstiles_daily_byStation_df = pd.DataFrame({'STATION':turnstiles_daily_byStation.index, 'DAILY_ENTRIES':turnstiles_daily_byStation.values})
turnstiles_daily_byStation_df

     DAILY_ENTRIES          STATION
0         113351.0             1 AV
1         153918.0           103 ST
2         102924.0    103 ST-CORONA
3          15687.0           104 ST
4          52073.0           110 ST
5          85366.0           111 ST
6         155705.0           116 ST
7          89370.0  116 ST-COLUMBIA
8           6028.0           121 ST
9         405728.0           125 ST
10         89470.0           135 ST
11         64129.0  137 ST CITY COL
12         15742.0   138/GRAND CONC
13        318081.0            14 ST
14        546984.0   14 ST-UNION SQ
15        183996.0           145 ST
16         55984.0   149/GRAND CONC
17         49341.0      14TH STREET
18         28133.0   15 ST-PROSPECT
19         37090.0           155 ST
20         60523.0           157 ST
21        145742.0  161/YANKEE STAD
22         92575.0           167 ST
23        141621.0           168 ST
24         40629.0           169 ST
25         74164.0           170 ST
26         33952.0           174 ST
27         27448.0      174-175 STS
28         69105.0           175 ST
29         26976.0           176 ST
..             ...              ...
342       121550.0   SUTPHIN-ARCHER
343        20309.0        SUTTER AV
344        33450.0  SUTTER AV-RUTLD
345        53488.0        THIRTY ST
346       145472.0  THIRTY THIRD ST
347       567137.0   TIMES SQ-42 ST
348         3546.0    TOMPKINSVILLE
349        49463.0       TREMONT AV
350        50762.0  TWENTY THIRD ST
351        35417.0         UNION ST
352        83390.0         UTICA AV
353        37502.0   V.CORTLANDT PK
354        27487.0    VAN SICLEN AV
355        15231.0   VAN SICLEN AVE
356        78339.0   VERNON-JACKSON
357       231216.0   W 4 ST-WASH SQ
358        12802.0  W 8 ST-AQUARIUM
359        25260.0    WAKEFIELD/241
360       224449.0          WALL ST
361        34786.0    WEST FARMS SQ
362        28411.0   WESTCHESTER SQ
363       104651.0  WHITEHALL S-FRY
364         8410.0      WHITLOCK AV
365        23781.0        WILSON AV
366        35042.0      WINTHROP ST
367       132252.0   WOODHAVEN BLVD
368        35765.0         WOODLAWN
369       103355.0  WORLD TRADE CTR
370        55900.0          YORK ST
371        12383.0        ZEREGA AV

[372 rows x 2 columns]

### Get Station by Date

In [257]:
turnstiles_daily_byStationAndDate = turnstiles_daily.groupby(['STATION', 'DATE'])['DAILY_ENTRIES'].sum()
turnstiles_daily_byStationAndDate.head()

STATION
1 AV             113351.0
103 ST           153918.0
103 ST-CORONA    102924.0
104 ST            15687.0
110 ST            52073.0
Name: DAILY_ENTRIES, dtype: float64

In [36]:
# Verify that we got same results via the non-pandas version.

## Exercise 1.4
We will plot the daily time series for a turnstile.

In ipython notebook, add this to the beginning of your next cell:

    %matplotlib inline

This will make your matplotlib graphs integrate nicely with the
notebook. To plot the time series, import matplotlib with

    import matplotlib.pyplot as plt

Take the list of [(date1, count1), (date2, count2), ...], for the
turnstile and turn it into two lists:
dates and counts. This should plot it:

    plt.figure(figsize=(10,3))
    plt.plot(dates,counts)

## Exercise 1.5

- So far we've been operating on a single turnstile level, let's
  combine turnstiles in the same ControlArea/Unit/Station combo. There
  are some ControlArea/Unit/Station groups that have a single
  turnstile, but most have multiple turnstilea-- same value for the
  C/A, UNIT and STATION columns, different values for the SCP column.

We want to combine the numbers together -- for each
ControlArea/UNIT/STATION combo, for each day, add the counts from each
turnstile belonging to that combo.

## Exercise 1.6

Similarly, combine everything in each station, and come up with a time
series of `[(date1, count1),(date2,count2),...]` type of time series
for each STATION, by adding up all the turnstiles in a station.

## Exercise 1.7

Plot the time series for a station.

## Exercise 1.8

- Make one list of counts for **one** week for one station. Monday's
count, Tuesday's count, etc. so it's a list of 7 counts.
Make the same list for another week, and another week, and another
week.
`plt.plot(week_count_list)` for every `week_count_list` you created
this way. You should get a rainbow plot of weekly commute numbers on
top of each other.

## Exercise 1.9

- Over multiple weeks, sum total ridership for each station and sort
  them, so you can find out the stations with the highest traffic
  during the time you investigate

## Exercise 1.10

- Make a single list of these total ridership values and plot it with

    plt.hist(total_ridership_counts)

to get an idea about the distribution of total ridership among
different stations.

This should show you that most stations have a small traffic, and the
histogram bins for large traffic volumes have small bars.

*Additional Hint*:

If you want to see which stations take the meat of the traffic, you
can sort the total ridership counts and make a `plt.bar` graph. For
this, you want to have two lists: the indices of each bar, and the
values. The indices can just be `0,1,2,3,...`, so you can do

    indices = range(len(total_ridership_values))
    plt.bar(indices, total_ridership_values)

## Try to cobmine Station with lat and long

In [115]:
#import data from http://web.mta.info/developers/data/nyct/subway/google_transit.zip
stops = pd.read_csv('data/stops.txt')
stops.head()

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station
0,101,NaN,Van Cortlandt Park - 242 St,NaN,40.889248,-73.898583,NaN,NaN,1,NaN
1,101N,NaN,Van Cortlandt Park - 242 St,NaN,40.889248,-73.898583,NaN,NaN,0,101
2,101S,NaN,Van Cortlandt Park - 242 St,NaN,40.889248,-73.898583,NaN,NaN,0,101
3,103,NaN,238 St,NaN,40.884667,-73.900870,NaN,NaN,1,NaN
4,103N,NaN,238 St,NaN,40.884667,-73.900870,NaN,NaN,0,103

In [84]:
stops['stop_name'].value_counts()

86 St                         18
Canal St                      18
23 St                         15
Fulton St                     15
145 St                        12
Times Sq - 42 St              12
125 St                        12
96 St                         12
Bay Pkwy                       9
7 Av                           9
Grand Central - 42 St          9
103 St                         9
14 St                          9
Church Av                      9
72 St                          9
Franklin Av                    9
Kings Hwy                      9
28 St                          9
Broadway Jct                   9
111 St                         9
Court Sq                       9
18 Av                          9
Atlantic Av - Barclays Ctr     9
Fort Hamilton Pkwy             9
Avenue U                       9
116 St                         9
Van Siclen Av                  9
50 St                          9
Chambers St                    9
79 St                          6
                              ..
Avenue J                       3
Clark St                       3
Montrose Av                    3
Eltingville                    3
Avenue X                       3
Oakwood Heights                3
Cathedral Pkwy                 3
49 St                          3
174-175 Sts                    3
Houston St                     3
Myrtle Av                      3
Beach 90 St                    3
Brook Av                       3
Beach 44 St                    3
169 St                         3
Bowery                         3
Ocean Pkwy                     3
3 Av - 149 St                  3
80 St                          3
Grant Av                       3
Junction Blvd                  3
Carroll St                     3
57 St                          3
World Trade Center             3
2 Av                           3
Saratoga Av                    3
Wakefield - 241 St             3
Kosciuszko St                  3
Bedford Park Blvd              3
231 St                         3
Name: stop_name, Length: 380, dtype: int64

In [190]:
resultStops = stops.drop_duplicates('stop_name').groupby(['stop_name'])['stop_name','stop_lat', 'stop_lon']
resultStops.head()
stops_df=resultStops.apply(lambda x: x) 
newColStopName = stops_df['stop_name']

newColStopName = newColStopName.str.replace('Grand Central', 'GRD CNTRL')
newColStopName = newColStopName.str.upper()
newColStopName = newColStopName.str.replace('POINT', 'PT')
newColStopName = newColStopName.str.replace('STATION', 'STA')
newColStopName = newColStopName.str.replace('-', '')
newColStopName = newColStopName.str.replace('\s+', '')

stops_df['upper_stop_name'] =newColStopName.str[:5]
stops_df['upper_stop_name']

0       VANCO
3       238ST
6       231ST
9       MARBL
12      215ST
15      207ST
18      DYCKM
21      191ST
24      181ST
27      168ST
30      157ST
33      145ST
36      137ST
39      125ST
42      116ST
45      CATHE
48      103ST
51       96ST
54       86ST
57       79ST
60       72ST
63      66STL
66      59STC
69       50ST
72      TIMES
75      34STP
78       28ST
81       23ST
84       18ST
87       14ST
        ...
1392      9ST
1398     25ST
1404     45ST
1407     53ST
1413    BAYRI
1422    BAYRI
1431    BOTAN
1434    TOTTE
1437    ATLAN
1440    ARTHU
1443    NASSA
1446    RICHM
1449    PLEAS
1452    PRINC
1455    HUGUE
1458    ANNAD
1461    ELTIN
1464    GREAT
1467    BAYTE
1470    OAKWO
1473    NEWDO
1476    GRANT
1479    JEFFE
1482    DONGA
1485    OLDTO
1488    GRASM
1491    CLIFT
1494    STAPL
1497    TOMPK
1500    STGEO
Name: upper_stop_name, Length: 380, dtype: object

In [191]:
turnstiles_daily.shape

(28220, 10)

In [253]:
#turnstiles_daily_byStation_dict =turnstiles_daily_byStation.apply(dict) 
#dailyDict = turnstiles_daily_byStation_dict['DAILY_ENTRIES']

In [254]:
newColStation = turnstiles_daily_byStation_df['DAILY_ENTRIES']
newColStation = newColStation.str.upper()
newColStation = newColStation.str.replace('-', '')
newColStation = newColStation.str.replace('\s+', '')
turnstiles_daily['upper_STATION'] =  newColStation.str[:5]
turnstiles_daily['upper_STATION'].value_counts()

KeyError: 'DAILY_ENTRIES'

In [193]:
turnstiles_daily_stop = turnstiles_daily.merge(stops_df, left_on='upper_STATION', right_on='upper_stop_name', how='left')

# Remove all rows that have null STATION
turnstiles_daily_stop = turnstiles_daily_stop[turnstiles_daily_stop.STATION.notnull()]
turnstiles_daily_stop.shape

(40811, 14)

In [194]:
turnstiles_daily_stop[turnstiles_daily_stop.upper_stop_name.isnull()]['STATION'].value_counts()

ATL AV-BARCLAY     288
PATH NEW WTC       270
161/YANKEE STAD    222
EXCHANGE PLACE     156
ST. GEORGE         156
LACKAWANNA         138
CITY / BUS         138
JOURNAL SQUARE     132
JKSN HT-ROOSVLT    132
B'WAY-LAFAYETTE    120
GROVE STREET       120
FT HAMILTON PKY    114
W 4 ST-WASH SQ     114
NEWARK BM BW       108
THIRTY THIRD ST    108
NEWARK C           108
NEWARK HM HE       108
NEWARK HW BMEBE    108
72 ST-2 AVE        102
96 ST-2 AVE         96
86 ST-2 AVE         90
HARRISON            78
61 ST WOODSIDE      72
46 ST BLISS ST      70
14TH STREET         66
4AV-9 ST            66
PAVONIA/NEWPORT     65
JFK JAMAICA CT1     60
33 ST-RAWSON ST     60
5 AVE               60
THIRTY ST           59
TWENTY THIRD ST     54
W 8 ST-AQUARIUM     48
149/GRAND CONC      42
40 ST LOWERY ST     36
EASTN PKWY-MUSM     36
MORISN AV/SNDVW     36
E 143/ST MARY'S     36
9TH STREET          30
PATH WTC 2          30
75 ST-ELDERTS       30
V.CORTLANDT PK      24
4 AV-9 ST           24
RIT-ROOSEVELT       24
EAST 105 ST         24
RIT-MANHATTAN       18
138/GRAND CONC      18
Name: STATION, dtype: int64

In [90]:
turnstiles_daily_stop

,C/A,UNIT,SCP,STATION,DATE,ENTRIES,PREV_DATE,PREV_ENTRIES,DAILY_ENTRIES,upper_STATION,stop_name,stop_lat,stop_lon,upper_stop_name
0,A002,R051,02-00-00,59 ST,04/01/2018,6566470,03/31/2018,6566470.0,0.0,59 ST,59 St,40.762526,-73.967967,59 ST
1,A002,R051,02-00-00,59 ST,04/02/2018,6567469,04/01/2018,6566470.0,999.0,59 ST,59 St,40.762526,-73.967967,59 ST
2,A002,R051,02-00-00,59 ST,04/03/2018,6568775,04/02/2018,6567469.0,1306.0,59 ST,59 St,40.762526,-73.967967,59 ST
3,A002,R051,02-00-00,59 ST,04/04/2018,6570115,04/03/2018,6568775.0,1340.0,59 ST,59 St,40.762526,-73.967967,59 ST
4,A002,R051,02-00-00,59 ST,04/05/2018,6571500,04/04/2018,6570115.0,1385.0,59 ST,59 St,40.762526,-73.967967,59 ST
5,A002,R051,02-00-00,59 ST,04/06/2018,6572929,04/05/2018,6571500.0,1429.0,59 ST,59 St,40.762526,-73.967967,59 ST
6,A002,R051,02-00-01,59 ST,04/01/2018,5889285,03/31/2018,5889285.0,0.0,59 ST,59 St,40.762526,-73.967967,59 ST
7,A002,R051,02-00-01,59 ST,04/02/2018,5890117,04/01/2018,5889285.0,832.0,59 ST,59 St,40.762526,-73.967967,59 ST
8,A002,R051,02-00-01,59 ST,04/03/2018,5891152,04/02/2018,5890117.0,1035.0,59 ST,59 St,40.762526,-73.967967,59 ST
9,A002,R051,02-00-01,59 ST,04/04/2018,5892222,04/03/2018,5891152.0,1070.0,59 ST,59 St,40.762526,-73.967967,59 ST
10,A002,R051,02-00-01,59 ST,04/05/2018,5893342,04/04/2018,5892222.0,1120.0,59 ST,59 St,40.762526,-73.967967,59 ST
11,A002,R051,02-00-01,59 ST,04/06/2018,5894445,04/05/2018,5893342.0,1103.0,59 ST,59 St,40.762526,-73.967967,59 ST
12,A002,R051,02-03-00,59 ST,04/01/2018,1056771,03/31/2018,1056771.0,0.0,59 ST,59 St,40.762526,-73.967967,59 ST
13,A002,R051,02-03-00,59 ST,04/02/2018,1057123,04/01/2018,1056771.0,352.0,59 ST,59 St,40.762526,-73.967967,59 ST
14,A002,R051,02-03-00,59 ST,04/03/2018,1057556,04/02/2018,1057123.0,433.0,59 ST,59 St,40.762526,-73.967967,59 ST
15,A002,R051,02-03-00,59 ST,04/04/2018,1058027,04/03/2018,1057556.0,471.0,59 ST,59 St,40.762526,-73.967967,59 ST
16,A002,R051,02-03-00,59 ST,04/05/2018,1058538,04/04/2018,1058027.0,511.0,59 ST,59 St,40.762526,-73.967967,59 ST
17,A002,R051,02-03-00,59 ST,04/06/2018,1059047,04/05/2018,1058538.0,509.0,59 ST,59 St,40.762526,-73.967967,59 ST
18,A002,R051,02-03-01,59 ST,04/01/2018,642700,03/31/2018,642700.0,0.0,59 ST,59 St,40.762526,-73.967967,59 ST
19,A002,R051,02-03-01,59 ST,04/02/2018,643600,04/01/2018,642700.0,900.0,59 ST,59 St,40.762526,-73.967967,59 ST
20,A002,R051,02-03-01,59 ST,04/03/2018,644801,04/02/2018,643600.0,1201.0,59 ST,59 St,40.762526,-73.967967,59 ST
21,A002,R051,02-03-01,59 ST,04/04/2018,646014,04/03/2018,644801.0,1213.0,59 ST,59 St,40.762526,-73.967967,59 ST
22,A002,R051,02-03-01,59 ST,04/05/2018,647272,04/04/2018,646014.0,1258.0,59 ST,59 St,40.762526,-73.967967,59 ST
23,A002,R051,02-03-01,59 ST,04/06/2018,648506,04/05/2018,647272.0,1234.0,59 ST,59 St,40.762526,-73.967967,59 ST
24,A002,R051,02-03-02,59 ST,04/01/2018,5724868,03/31/2018,5724868.0,0.0,59 ST,59 St,40.762526,-73.967967,59 ST
25,A002,R051,02-03-02,59 ST,04/02/2018,5725848,04/01/2018,5724868.0,980.0,59 ST,59 St,40.762526,-73.967967,59 ST
26,A002,R051,02-03-02,59 ST,04/03/2018,5727179,04/02/2018,5725848.0,1331.0,59 ST,59 St,40.762526,-73.967967,59 ST
27,A002,R051,02-03-02,59 ST,04/04/2018,5728490,04/03/2018,5727179.0,1311.0,59 ST,59 St,40.762526,-73.967967,59 ST
28,A002,R051,02-03-02,59 ST,04/05/2018,5729824,04/04/2018,5728490.0,1334.0,59 ST,59 St,40.762526,-73.967967,59 ST
29,A002,R051,02-03-02,59 ST,04/06/2018,5731118,04/05/2018,5729824.0,1294.0,59 ST,59 St,40.762526,-73.967967,59 ST
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28190,TRAM1,R468,00-00-02,RIT-MANHATTAN,04/01/2018,1740805,03/31/2018,1740020.0,785.0,RIT-MANHATTAN,NaN,NaN,NaN,NaN
28191,TRAM1,R468,00-00-02,RIT-MANHATTAN,04/02/2018,1741446,04/01/2018,1740805.0,641.0,RIT-MANHATTAN,NaN,NaN,NaN,NaN
28192,TRAM1,R468,00-00-02,RIT-MANHATTAN,04/03/2018,1741754,04/02/2018,1741446.0,308.0,RIT-MANHATTAN,NaN,NaN,NaN,NaN
28193,TRAM1,R468,00-00-02,RIT-MANHATTAN,04/04/2018,1742778,04/03/2018,1741754.0,1024.0,RIT-MANHATTAN,NaN,NaN,NaN,NaN
28194,TRAM1,R468,00-00-02,RIT-MANHATTAN,04/05/2018,1743488,04/04/2018,1742778.0,710.0,RIT-MANHATTAN,NaN,NaN,NaN,NaN
28195,TRAM1,R468,00-00-02,RIT-MANHATTAN,04/06/2018,1744095,04/05/2018,1743488.0,607.0,RIT-MANHATTAN,NaN,NaN,NaN,NaN
28196,TRAM2,R469,00-00-00,RIT-ROOSEVELT,04/01/2018,4022767,03/31/2018,4021084.0,1683.0,RIT-ROOSEVELT,NaN,NaN,NaN,NaN
28197,TRAM2,R469,00-00-00,RIT-ROOSEVELT,04/02/2018,4023897,04/01/2018,4022767.0,1130.0,RIT-ROOSEVELT,NaN,NaN,NaN,NaN
28198,TRAM2,R469,00-00-00,RIT-ROOSEVELT,04/03/2018,4025026,04/02/2018,4023897.0,1129.0,RIT-ROOSEVELT,NaN,NaN,NaN,NaN
28199,TRAM2,R469,00-00-00,RIT-ROOSEVELT,04/04/2018,4026358,04/03/2018,4025026.0,1332.0,RIT-ROOSEVELT,NaN,NaN,NaN,NaN
28200,TRAM2,R469,00-00-00,RIT-ROOSEVELT,04/05/2018,4027867,04/04/2018,4026358.0,1509.0,RIT-ROOSEVELT,NaN,NaN,NaN,NaN
28201,TRAM2,R469,00-00-00,RIT-ROOSEVELT,04/06/2018,4029076,04/05/2018,4027867.0,1209.0,RIT-ROOSEVELT,NaN,NaN,NaN,NaN
28202,TRAM2,R469,00-00-01,RIT-ROOSEVELT,04/01/2018,2542657,03/31/2018,2540967.0,1690.0,RIT-ROOSEVELT,NaN,NaN,NaN,NaN
28203,TRAM2,R469,00-00-01,RIT-ROOSEVELT,04/02/2018,2543808,04/01/2018,2542657.0,1151.0,RIT-ROOSEVELT,NaN,NaN,NaN,NaN
28204,TRAM2,R469,00-00-01,RIT-ROOSEVELT,04/03/2018,2544922,04/02/2018,2543808.0,1114.0,RIT-ROOSEVELT,NaN,NaN,NaN,NaN
28205,TRAM2,R469,00-00-01,RIT-ROOSEVELT,04/04/2018,2546309,04/03/2018,2544922.0,1387.0,RIT-ROOSEVELT,NaN,NaN,NaN,NaN
28206,TRAM2,R469,00-00-01,RIT-ROOSEVELT,04/05/2018,2547907,04/04/2018,2546309.0,1598.0,RIT-ROOSEVELT,NaN,NaN,NaN,NaN
28207,TRAM2,R469,00-00-01,RIT-ROOSEVELT,04/06/2018,2549221,04/05/2018,2547907.0,1314.0,RIT-ROOSEVELT,NaN,NaN,NaN,NaN
28208,TRAM2,R469,00-03-00,RIT-ROOSEVELT,04/01/2018,510671,03/31/2018,510357.0,314.0,RIT-ROOSEVELT,NaN,NaN,NaN,NaN
28209,TRAM2,R469,00-03-00,RIT-ROOSEVELT,04/02/2018,510946,04/01/2018,510671.0,275.0,RIT-ROOSEVELT,NaN,NaN,NaN,NaN
28210,TRAM2,R469,00-03-00,RIT-ROOSEVELT,04/03/2018,511218,04/02/2018,510946.0,272.0,RIT-ROOSEVELT,NaN,NaN,NaN,NaN
28211,TRAM2,R469,00-03-00,RIT-ROOSEVELT,04/04/2018,511485,04/03/2018,511218.0,267.0,RIT-ROOSEVELT,NaN,NaN,NaN,NaN
28212,TRAM2,R469,00-03-00,RIT-ROOSEVELT,04/05/2018,511758,04/04/2018,511485.0,273.0,RIT-ROOSEVELT,NaN,NaN,NaN,NaN
28213,TRAM2,R469,00-03-00,RIT-ROOSEVELT,04/06/2018,512035,04/05/2018,511758.0,277.0,RIT-ROOSEVELT,NaN,NaN,NaN,NaN
28214,TRAM2,R469,00-03-01,RIT-ROOSEVELT,04/01/2018,2868539,03/31/2018,2868198.0,341.0,RIT-ROOSEVELT,NaN,NaN,NaN,NaN
28215,TRAM2,R469,00-03-01,RIT-ROOSEVELT,04/02/2018,2868821,04/01/2018,2868539.0,282.0,RIT-ROOSEVELT,NaN,NaN,NaN,NaN
28216,TRAM2,R469,00-03-01,RIT-ROOSEVELT,04/03/2018,2869099,04/02/2018,2868821.0,278.0,RIT-ROOSEVELT,NaN,NaN,NaN,NaN
28217,TRAM2,R469,00-03-01,RIT-ROOSEVELT,04/04/2018,2869441,04/03/2018,2869099.0,342.0,RIT-ROOSEVELT,NaN,NaN,NaN,NaN
28218,TRAM2,R469,00-03-01,RIT-ROOSEVELT,04/05/2018,2869706,04/04/2018,2869441.0,265.0,RIT-ROOSEVELT,NaN,NaN,NaN,NaN
28219,TRAM2,R469,00-03-01,RIT-ROOSEVELT,04/06/2018,2870062,04/05/2018,2869706.0,356.0,RIT-ROOSEVELT,NaN,NaN,NaN,NaN